{% assign post = include.post | default: post %}
{% assign archived_count = post.archived_comments | size %}
{% assign has_comments_issue = post.comments_issue | default: false %}
{% assign _gh_issue_key = post.comments_issue | append: "" %}
{% assign _gh_issue = site.data.github_comments[_gh_issue_key] %}
{% assign _gh_comment_count = _gh_issue.comments | size %}
{% assign _wm = site.data.webmentions[post.url] %}
{% assign _wm_mentions  = _wm | where: "wm-property", "mention-of"  | size %}
{% assign _wm_likes     = _wm | where: "wm-property", "like-of"     | size %}
{% assign _wm_bookmarks = _wm | where: "wm-property", "bookmark-of" | size %}
{% assign _wm_replies   = _wm | where: "wm-property", "in-reply-to" | size %}
{% assign _wm_reposts   = _wm | where: "wm-property", "repost-of"   | size %}
{% assign _has_wm = false %}
{% if _wm_mentions > 0 or _wm_likes > 0 or _wm_bookmarks > 0 or _wm_replies > 0 or _wm_reposts > 0 %}{% assign _has_wm = true %}{% endif %}
{% if include.post %}
  {% assign _href = post.url | append: "#interactions" %}
  {% assign _label = "Interactions for " | append: post.title %}
{% else %}
  {% assign _href = "#interactions" %}
{% endif %}
{% assign _total_comment_count = archived_count | plus: _gh_comment_count %}
{% assign _conversational_count = _total_comment_count | plus: _wm_replies | plus: _wm_mentions %}
<a class="interaction-stats" href="{{ _href }}"{% if _label %} aria-label="{{ _label }}"{% endif %}
{% unless _conversational_count > 0 or has_comments_issue or _has_wm %} style="display: none"{% endunless %}>
    <span class="comment"{% unless _conversational_count > 0 %} style="display: none"{% endunless %} data-archived-count="{{ archived_count }}" data-wm-conv-count="{{ _wm_replies | plus: _wm_mentions }}">
        <svg viewBox="0 0 24 24"><use href="#icon-message-circle"/></svg>
        <span class="value">{{ _conversational_count }}</span>
    </span>
    <span class="bookmark"{% unless _wm_bookmarks > 0 %} style="display: none"{% endunless %}>
        <svg viewBox="0 0 24 24"><use href="#icon-bookmark"/></svg>
        <span class="value">{{ _wm_bookmarks }}</span>
    </span>
    <span class="like"{% unless _wm_likes > 0 %} style="display: none"{% endunless %}>
        <svg viewBox="0 0 24 24"><use href="#icon-heart"/></svg>
        <span class="value">{{ _wm_likes }}</span>
    </span>
    <span class="repost"{% unless _wm_reposts > 0 %} style="display: none"{% endunless %}>
        <svg viewBox="0 0 24 24"><use href="#icon-repeat-2"/></svg>
        <span class="value">{{ _wm_reposts }}</span>
    </span>
</a>
