<section id="interactions">
  {% include global/wide-h3.html text="Comments" %}
  <div id="comments" data-display="block">
    <div class="items"></div>
    <div class="formatted-text">
      <div class="comments-open">Want to comment? You can do so via <a href="{{ site.github.issues_url | append:'/' | append:page.comments_issue }}">Github</a>.</div> 
      <div class="comments-closed">Comments via Github are currently closed.</div>
    </div>
  </div>
  {% include global/wide-h3.html text="Webmentions" %}
  <div id="replies" data-display="none" style="display:none;">
    <h3>Replies</h3>
    <div class="items"></div>
  </div>
  <div id="mentions" data-display="none" style="display:none">
    <h3>Mentions</h3>
    <div class="items"></div>
  </div>
  <div id="likes" data-display="none" style="display:none">
    <h3>Likes</h3>
    <div class="items likes"></div>
  </div>
  <div id="bookmarks" data-display="none" style="display:none">
    <h3>Bookmarks</h3>
    <div class="items likes"></div>
  </div>
  <div id="reposts" data-display="none" style="display:none">
    <h3>Reposts</h3>
    <div class="items likes"></div>
  </div>
  <div class="formatted-text">
    <p>Want to reply? I've <a href="/post/adding-support-for-webmentions/">hooked up Webmentions</a>, so give it a go!</p>
    
    <p style="display: none;" id="mentions-last-fetched">Webmentions last fetched: <span></span><button title="Reload" class="reload" data-what="webmentions"><svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" viewBox="0 0 80 80" width="20" height="20">
      <path d="M58.385 34.343V21.615L53.77 26.23C50.244 22.694 45.377 20.5 40 20.5c-10.752 0-19.5 8.748-19.5 19.5S29.248 59.5 40 59.5c7.205 0 13.496-3.939 16.871-9.767l-4.326-2.496C50.035 51.571 45.358 54.5 40 54.5c-7.995 0-14.5-6.505-14.5-14.5S32.005 25.5 40 25.5a14.42 14.42 0 0 1 10.239 4.261l-4.583 4.583h12.729z"/>
    </svg></button></p>
  </div>
</section>

<link rel="stylesheet" href="{{ '/assets/interactions.css' | absolute_url }}{% if site.github %}?{{site.github.build_revision}}{% endif %}" />
<script src="{{ '/assets/marked.min.js' | absolute_url }}"></script>
<script src="{{ '/assets/interactions.js' | absolute_url }}{% if site.github %}?{{site.github.build_revision}}{% endif %}"></script>
