permalink: /post/:title
exclude: ["_config.yml", ".gitignore", "README.md"]
baseurl: "http://blog.omgmog.net/"
safe: true
lsi: false
paginate: 15
paginate_path: "archive/page:num"

markdown: redcarpet
highlighter: pygments

name: "The blog of Max Glenister"
author:
    name: "Max Glenister"
    bio: "Max Glenister is a front-end developer from Oxford. He writes mostly about front-end development and technology."
disqus: "blogomgmog"
description: |
    This is the blog of Max Glenister, a front-end developer from Oxford.

    Mostly containing tech-related musings, and any other miscellany that Max finds interesting.
sites:
    - link: "http://github.com/omgmog"
      text: "@omgmog on GitHub"
    - link: "http://twitter.com/omgmog"
      text: "@omgmog on Twitter"
    - link: "http://omgmog.net"
      text: "Max's personal site"
    - link: "http://marmaladeandjam.co.uk"
      text: "Marmalade &amp; Jam"
sass:
    style: compressed
    compile_in_place: false
gems:
    - jekyll-redirect-from

nav_pages:
    - link: "/"
      text: "Home"
    - link: "/about/"
      text: "About"
    - link: "/archive/"
      text: "Archive"
