permalink: /post/:title/
exclude: ["_dev.yml","_config.yml", ".gitignore", "README.md", ".jekyll-cache", "vendor", "Gemfile", "Gemfile.lock"]
url: "https://blog.omgmog.net"
excerpt_separator: "<!-- more -->"
keep_files: ["images/","assets/","CNAME"]
markdown: kramdown
kramdown:
  input: GFM
  syntax_highlighter: rouge
sass:
    style: compressed
title: "Max Glenister"
plugins:
  - jekyll-sitemap
whitelist:
  - jekyll-sitemap

author:
  name: Max Glenister

  
collections:
  cardboctober:
    output: true
    permalink: /:collection/:title/
defaults:
  - scope:
      type: "posts"
    values:
      layout: post
      type: blog
      content_type: article
  - scope:
      type: "cardboctober"
    values:
      layout: post
      tags: [vr, cardboctober]
      content_type: article
  - scope:
      type: "pages"
    values:
      layout: page