permalink: /post/:title
exclude: ["_config.yml", ".gitignore", "README.md"]
baseurl: "http://blog.omgmog.net"
safe: true
lsi: false
paginate: 15
paginate_path: "archive/page:num"
excerpt_separator: "<!-- more -->"

markdown: redcarpet
highlighter: pygments

name: "The blog of Max Glenister"
author:
    name: "Max Glenister"
    bio: "Max Glenister is a front-end developer from Oxford. He writes mostly about front-end development and technology."
disqus: "blogomgmog"
description: |
    Hello, I'm Max Glenister, a front-end developer from Oxford, and this is my blog. It mostly contains tech-related musings, and any other miscellany that I find interesting.
sites:
    - link: "http://github.com/omgmog"
      text: "GitHub"
    - link: "http://twitter.com/omgmog"
      text: "Twitter"
    - link: "http://omgmog.net"
      text: "My personal site"
    - link: "http://marmaladeandjam.co.uk"
      text: "My web design company"
sass:
    style: compressed
gems:
    - jekyll-redirect-from

nav_pages:
    - link: "/"
      text: "Home"
    - link: "/about/"
      text: "About"
    - link: "/archive/"
      text: "Archive"
    - link: "/reviews/"
      text: "Reviews"
