permalink: /post/:title/
exclude: ["_config.yml", ".gitignore", "README.md", "node_modules"]
baseurl: "https://blog.omgmog.net"
safe: true
paginate: 15
paginate_path: "archive/page:num/"
excerpt_separator: "<!-- more -->"
keep_files: ["images/","thumbs/","assets/","CNAME","robots.txt"]

markdown: kramdown
kramdown:
  input: GFM
  syntax_highlighter: rouge

name: "The blog of Max Glenister"

author:
    name: "Max Glenister"
    bio: "Max Glenister is a front-end developer from Oxford. He writes mostly about front-end development and technology."
disqus: "blogomgmog"

sass:
    style: compressed

gems: [jekyll-redirect-from,jekyll-paginate]
whitelist:
    - jekyll-paginate

menu:
  - link: "https://omgmog.net"
    title: "About"
    external: true
  - link: "/"
    title: "Articles"
  - link: "/reviews/"
    title: "Reviews"
