auto: true
safe: true
debug: false
permalink: /post/:title
exclude: ["rakefile", "_config.yml", "addpost.sh", "addpage.sh", ".gitignore"]
BASE_PATH: "/"
lsi: false
pygments: true
url: http://blog.omgmog.net
name: "Blomg - The blog of Max Glenister"
author: "Max Glenister"
description: |
    The personal blog of Max Glenister.

    Mostly containing tech-related musings, and any other miscellany that Max finds interesting.

    Crafted in SublimeText 2, powered by Jekyll, and hosted by GitHub Pages.

    If you'd like to find out more about what Max has been upto, you can do so through the following channels:
sites:
    - link: "http://github.com/omgmog"
      text: "omgmog on GitHub"

    - link: "http://twitter.com/omgmog"
      text: "@omgmog on Twitter"

    - link: "http://omgmog.net"
      text: "Max's personal site"

    - link: "http://marmaladeandjam.co.uk"
      text: "Marmalade &amp; Jam"
