permalink: /post/:title/
exclude: ["_config.yml", ".gitignore", "README.md", "node_modules", "gulpfile.js", "Gemfile", "Gemfile.lock"]
url: "https://blog.omgmog.net"
safe: true
paginate: 15
paginate_path: "archive/page:num/"
excerpt_separator: "<!-- more -->"
keep_files: ["images/","thumbs/","assets/","CNAME","robots.txt"]
repository: omgmog/omgmog.github.com

markdown: kramdown
kramdown:
  input: GFM
  syntax_highlighter: rouge

name: "The blog of Max Glenister"

author:
    name: "Max Glenister"
    bio: "Max Glenister is a front-end developer from Oxford. He writes mostly about front-end development and technology."
disqus: "blogomgmog"

sass:
    style: compressed

gems:
  - jekyll-redirect-from
  - jekyll-paginate
whitelist:
  - jekyll-redirect-from
  - jekyll-paginate

menu:
  - link: "https://omgmog.net"
    title: "About"
    external: true
  - link: "/"
    title: "Articles"
    active: true
  - link: "https://omgmog.net/things.html"
    title: "Things"
    external: true

defaults:
  -
    scope:
      type: "posts"
    values:
      layout: post
  -
    scope:
      type: "cardboctober"
    values:
      layout: post
  -
    scope:
      type: "reviews"
    values:
      layout: post
  -
    scope:
      type: "pages"
    values:
      layout: layout

collections:
  cardboctober:
    output: true
    permalink: /:collection/:title/
  reviews:
    output: true
    permalink: /:collection/:title/

