permalink: /:categories/:year/:month/:day/:title 
exclude: [".rvmrc", ".rbenv-version", "README.md", "Rakefile", "changelog.md"]
auto: true
pygments: true
title : Blomg
tagline: Thoughts and tech-related words from Max Glenister
author :
  name : Max Glenister
  email : moglenstar@gmail.com
  github : omgmog
  twitter : omgmog
production_url : http://blog.omgmog.net
JB :
  version : 0.2.13
BASE_PATH : false
ASSET_PATH : false
archive_path: /archive.html     
analytics :
  provider : google 
  google : 
      tracking_id : 'UA-18982788-1'
sharing :
  provider : false