---
layout: layout
title: About
permalink: /about/
redirect_from: /about.html
---
<div class="about-content">
    {% include _author_picture.html %}
    {% for paragraph in site.description %}
        {{ paragraph | markdownify }}
    {% endfor %}
    <hr />
    <p>
        If you'd like to find out more about what I've been upto, you can do so through the following links:
    </p>
    <ul class="links">
    {% for site in site.sites %}
        <li>
            <a href="{{ site.link }}" target="_blank">
                {{ site.text }}
            </a>
        </li>
    {% endfor %}
    </ul>
</div>
