---
layout: layout
title: About
---
<img
    src="http://omgmog.net/img/max.jpg"
    alt="Max Glenister is a front-end developer from Oxford"
    width="200px"
    height="200px"
    class="photo-max about"
/>
{% for paragraph in site.description %}
    {{ paragraph | markdownify }}
{% endfor %}
<ul>
    {% for site in site.sites %}
        <li>
            <a href="{{ site.link }}" target="_blank">
                {{ site.text }}
            </a>
        </li>
    {% endfor %}
</ul>
<p>
    See any errors? <a href="https://github.com/omgmog/omgmog.github.com/issues/new">let me know</a>!
</p>
