---
layout: layout
title: Archive
---
{% for post in site.posts %}
    {% unless post.next %}
    <h2 class="year-heading">
        {{ post.date | date: '%Y' }}
    </h2>
    {% else %}
        {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
        {% capture nyear %}{{ post.next.date | date: '%Y' }}{% endcapture %}
        {% if year != nyear %}
            <h2 class="year-heading">
                {{ post.date | date: '%Y' }}
            </h2>
        {% endif %}
    {% endunless %}
    <a href="{{ post.url }}" class="archive-item">
        {% include single_post.html %}
    </a>
{% endfor %}
