---
title: Articles
---

{% comment %}
  This is now more complex than I'd like
{% endcomment %}

{% assign post_limit = 15 %}
{% assign post_count = 0 %}
{% for post in site.posts %}
  {% if post_count < post_limit %}
    {% if post.cardboctober %}
      {% if post.show_in_posts %}
        {% include _article_preview.html %}

        {% assign post_count = post_count|plus:1 %}
      {% endif %}
    {% else %}
      {% include _article_preview.html %}

      {% assign post_count = post_count|plus:1 %}
    {% endif %}
  {% endif %}
{% endfor %}

<p>
  You can find more posts in the <a href="{{ site.baseurl }}/archive/">Archive</a>.
</p>
