---
title: VR Stuff
permalink: /vr
---
<p>
  Since 2015 I've been dabbling with VR and curating the <a href="https://www.uxofvr.com">UX of VR</a> list. I've given a number of talks on topics around developing VR experiences using web technologies, and my personal experience of creating something for VR each day for a <a href="{{"/cardboctober" | absolute_url}}">whole month</a>. 
</p>

<h3 class="wide-h3">Talks</h3>
<ul class="thumbnail-list">
  {% assign vr_talks = site.data.vr.talks | sort:"date" %}
  {% for talk in vr_talks %}
    <li>
      {% include posts/figure.html src=talk.img class="center" %}
      <h4>{{ talk.title }}</h4>
      <p>{{ talk.summary }}</p>
      <div class="btns">
        <a href="{{ talk.slides }}" class="btn">View Slides</a>
        <a href="{{ talk.source }}" class="btn">View Source</a>
      </div>
    </li>
  {% endfor %}
</ul>

<h3 class="wide-h3">Projects</h3>
<ul class="thumbnail-list">
  {% assign vr_projects = site.data.projects | where:"vr","true" %}
  {% for project in vr_projects %}
    <li>
      {% if project.img %}<div class="img-grid count-{{project.img | size }}">{% for img in project.img %}{% include posts/figure.html src=img class="center" %}{% endfor %}</div>{% endif %}
      {% if project.embed %}<figure class="iframe">{{ project.embed }}</figure>{% endif %}
      <h4>{{ project.title }}</h4>
      <p>{{ project.description }}</p>
      <div class="btns">
        <a href="{{ project.link }}" class="btn">View Project</a>
      </div>
    </li>
  {% endfor %}
</ul>

<h3 class="wide-h3">Posts</h3>
<ul class="post-list">
  {% assign vr_posts = site.posts | where_exp:"post","post.tags contains 'vr'" %}
  {% for post in vr_posts %}
  {% include global/article-list-item.html hide_dates=false hide_types=true %}
  {% endfor %}
</ul>

<h3 class="wide-h3">Cardboctober posts</h3>
<ul class="post-list">
  {% for post in site.cardboctober  %}
  {% include global/article-list-item.html hide_dates=false hide_types=true %}
  {% endfor %}
</ul>
