<div class="author-blurb">
    <h3>
        About the author
    </h3>
    <img
        src="{{ site.baseurl }}assets/max.jpg"
        alt="Max Glenister is a front-end developer from Oxford"
        width="100px"
        height="100px"
        class="photo-max"
    />
    <p>
        {{ site.author.bio }}
    </p>
    <p>
        If you want to know more, you can read more about Max on his portfolio of his <a href="http://www.omgmog.net" rel="author">front-end development work</a>, or follow him on Twitter <a href="http://twitter.com/omgmog">@omgmog</a>.
    </p>
</div>
