
<h3>Comments</h3>
<div id="comments-section">
<ol id="comments" data-issue="{{ include.issue_id }}"></ol>
<p class="notice">
<span class="no-comments">There are no comments yet!</span>
<span class="comments-open">You can add a comment using <a href="{{ site.github.issues_url }}/{{ include.issue_id }}">Github issues</a>.</span>
<span class="comments-closed" style="display:none">Comments are closed for this post.</span>
</p>
<script type="text/template" id="comment-template">
  <li class="comment %comment_class%">
    <div class="inner">
      <img src="%avatar%" alt="%author%'s avatar" class="avatar">
      <div class="comment-header"><h3><a href="%author_url%" target="_blank"><strong>%author%</strong></a> commented <a href="%url%" target="_blank"><time datetime="%date%">on %date_fmt%</time></a></h3><span class="who">%who%</span></div>
      <div class="comment-body">%body%</div>
    </div>
  </li>
</script>
<link rel="stylesheet" href="/assets/comments.css{% if site.github %}?{{site.github.build_revision}}{% endif %}">
<script src="/assets/marked.min.js"></script>
<script src="/assets/comments.js{% if site.github %}?{{site.github.build_revision}}{% endif %}"></script>
</div>