<p class="metadata">
    {{ post.date | date_to_long_string }}
    &bull; <a href="{{ site.github.repository_url }}/blob/master/{{ post.path }}">Source on GitHub</a>
    &bull; <a href="{% unless page.url == post.url %}{{ post.url }}/{% endunless %}#disqus_thread">Comments</a>
    &bull; <a
        href="https://twitter.com/share?text={{ post.title | cgi_escape }}&amp;url={{ site.baseurl}}{{ post.url }}&amp;via=omgmog"
        onclick="window.open(this.href,'twitter-share','width=550,height=235');return false;"
    >Share on Twitter</a>
</p>
