{% if include.show_title == 'true' %}
<h3 class="wide-h3">About</h3>
{% endif %}
<div class="p-author h-card post-bio">
    {% include _myface.html %}
    <div class="h-card-inner">
        <p class="p-note"><a class="u-name" href="https://omgmog.net/" rel="me">Max Glenister</a> is a <a href="https://omgmog.net/" rel="me" class="u-url u-uid"><span class="p-job-title">Front-end Developer</span> based in <span class="p-region">Oxfordshire</span></a>. For work he spends his time designing, validating and implementing user interfaces. For fun he tinkers with Virtual Reality, 3D printing, embedded systems, game development and many other things.</p>
        <p>You can keep up with Max on <a href="https://github.com/omgmog" rel="nofollow me" class="u-url">Github</a>, <a href="https://twitter.com/omgmog" rel="nofollow me" class="u-url">Twitter</a> and <a href="https://reddit.com/u/omgmog" rel="nofollow me" class="u-url">Reddit</a></p>
    </div>
</div>
