{% assign previouspage = post.previous %}
{% assign nextpage = post.next %}
{% if previouspage or nextpage %}
<div class="page-nav posts-nav">
    <hr />
    {% if previouspage %}
        <a
            href="{{ previouspage.url }}"
            rel="prev"
            class="page-nav-link prev"
            title="{{ previouspage.title }}"
        >
            Older post
        </a>
    {% endif %}
    {% if nextpage %}
        <a
            href="{{ nextpage.url }}"
            rel="next"
            class="page-nav-link next"
            title="{{ nextpage.title }}"
        >
            Newer post
        </a>
    {% endif %}

    <hr />
</div>
{% endif %}
