{% if include.show_title == 'true' %}
<h3>About the author</h3>
{% endif %}
<article class="h-card post-bio">
    <img src="/assets/max.jpg" alt="A photo of Max Glenister" class="u-photo"/><p><span class="u-name">Max Glenister</span> is a <a href="https://omgmog.net" rel="me" class="u-url"><span class="p-job-title">Front-end Developer</span> based in <span class="p-region">Oxfordshire</span></a>. For work he spends his time designing, validating and implementing user interfaces. For fun he tinkers with Virtual Reality, 3D printing, embedded systems, game development and many other <a href="https://omgmog.net/things.html">things</a>.</p>
    <p>You can keep up with Max on <a href="https://github.com/omgmog" rel="nofollow me">Github</a>, <a href="https://twitter.con/omgmog" rel="nofollow me">Twitter</a> and <a href="https://reddit.com/u/omgmog" rel="nofollow me">Reddit</a></p>
</article>