{% assign previouspage = post.previous %}
{% assign nextpage = post.next %}
{% if previouspage or nextpage %}
<div class="page-nav">
    <hr />

    <h2 class="nav-title">
        More articles
    </h2>

    {% if previouspage %}
        <a
            href="{{ previouspage.url }}"
            rel="prev"
            class="page-nav-link prev"
        >
            {{ previouspage.title }}
        </a>
    {% endif %}
    {% if nextpage %}
        <a
            href="{{ nextpage.url }}"
            rel="next"
            class="page-nav-link next"
        >
            {{ nextpage.title }}
        </a>
    {% endif %}

    <hr />
</div>
{% endif %}
