<div class="navigation-bar">
    <div class="inner">
        <h1>
            BLOMG
        </h1>
    </div>
    <div class="inner">
        <nav class="nav-buttons site-nav pull-left">
            <ul>
                <li>
                    <a
                        href="{{ site.baseurl }}"
                        class="navbtn"
                    >
                        Home
                    </a>
                </li>
                <li>
                    <a
                        href="{{ site.baseurl }}about.html"
                        class="navbtn"
                    >
                        About
                    </a>
                </li>
            </ul>
        </nav>
        <nav class="nav-buttons posts-nav pull-right">
            {% if page.url == "/index.html" or page.url == "/about.html" or page.url == "/archive.html" %}
                {% assign previouspage = site.posts[0] %}
            {% else %}
                {% assign previouspage = page.previous %}
                {% assign nextpage = page.next %}
            {% endif %}

            <ul>
                {% if nextpage %}
                    <li>
                        <a
                            href="{{ nextpage.url }}"
                            title="{{ nextpage.title }}"
                            class="navbtn"
                        >
                            &lt;
                        </a>
                    </li>
                {% else %}
                    <li>
                        <span class="navbtn disabled">
                            &lt;
                        </span>
                    </li>
                {% endif %}
                <li>
                    <a
                        href="{{ site.baseurl }}archive.html"
                        class="navbtn"
                    >
                        Archive
                    </a>
                </li>
                {% if previouspage %}
                    <li>
                        <a
                            href="{{ previouspage.url }}"
                            title="{{ previouspage.title }}"
                            class="navbtn"
                        >
                            &gt;
                        </a>
                    </li>
                {% else %}
                    <li>
                        <span class="navbtn disabled">
                            &gt;
                        </span>
                    </li>
                {% endif %}
            </ul>
        </nav>
    </div>
</div>
