{% if paginator.next_page or paginator.previous_page %}
<div class="inner parent navigation">
    {% if paginator.next_page %}
        <a
            href="{{ paginator.next_page_path }}"
            rel="prev"
            class="pull-left grid-6"
            title="Older posts"
        >
            <span>&#9664; Previous</span>
        </a>
    {% endif %}
    {% if paginator.previous_page %}
        <a
            href="{{ paginator.previous_page_path }}"
            rel="next"
            class="pull-right grid-6"
            title="Newer posts"
        >
            <span>Next &#9654;</span>
        </a>
    {% endif %}
</div>
{% endif %}
