<article class="article">
    {% if page.url == "/archive.html" %}
        <h3 class="article-heading">
            {{ post.title }}
        </h3>
    {% else %}
        {% capture post_Y %}{{ post.date | date:"%Y" }}{% endcapture %}
        {% capture now_Y %}{{ site.time | date:"%Y" }}{% endcapture %}
        {% if post_Y < now_Y %}
            <div class="warning-message">
                <p>
                    <strong>This is an old post!</strong><br />
                    It might be a good idea to check the <a href="/archive.html">Archive</a> to see if I've posted a revision to this post or subject.
                </p>
            </div>
        {% endif %}
        <h1 class="article-heading">
            {% if page.url == "/index.html" %}
                <a href="{{ post.url }}">
                    {{ post.title }}
                </a>
            {% else %}
                {{ post.title }}
            {% endif %}
        </h1>
    {% endif %}
    <div class="article-meta">
        {{ post.date |  date_to_long_string }}
    </div>
    <div class="article-body">
        {% if post.video_url and page.url != "/archive.html" %}
            <div class="video-wrapper hd">
                <iframe src="{{ post.video_url }}" width="100%" height="350px"> </iframe>
            </div>
        {% endif %}
        {% if page.url == "/index.html" %}
            {{ post.content }}
        {% else %}
            {% if page.url == "/archive.html" %}
                {{ post.content | strip_html | truncate:300 }} 
                {% if post.content | size > 300 %}
                    <strong>Read more</strong>
                {% endif %}
            {% else %}
                {{ content }}
            {% endif %}
        {% endif %}
    </div>
</article>
