// Import gridle :
@import "gridle/gridle";

// setup the grid (required) :
@include gridle_setup((context: 12, gutter-width: 30px, debug: false));

// register special columns :
@include gridle_register_column("1on5", 1, 5);

// clear each classes :
@include gridle_register_clear_each(2, left);

@include gridle_register_clear_each(12, both);

// register states :
@include gridle_register_default_states;

@include gridle_register_state(ipad-landscape, (query: "only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape)", gutter-width: 0));

// Generate classes :
@include gridle_generate_classes;

@include gridle_register_default_mobile_first_states;

@include gridle_generate_custom_class(("center", "%-", "%state")) {
    text-align: center;
}


@include gridle_generate_custom_class(("pull-left", "%-", "%state")) {
    text-align: left;
    float: left;
}


@include gridle_generate_custom_class(("pull-right", "%-", "%state")) {
    text-align: right;
    float: right;
}


// this will produces classes : center, center-mobile, center-tablet, center-ipad-landscape
// for separators, you can use the %- (replaced by the $gridle-class-separator option), or -, --, _, __

// Max size :
.container {
    margin: 0 auto;
    max-width: 1140px;
}
