code {
    padding: 2px 4px;
    font-size: 90%;
    white-space: nowrap;
}

pre {
    padding: 5rem 0;
}

code,
.highlighter-rouge code,
.highlighter-rouge pre {
    color: #fdce93;
}

.highlight .hll {
    background-color: #222;
}

.highlight .c {
    color: #7f9f7f;
}

.highlight .err {
    color: #e37170;
    background-color: #222;
}

.highlight .g {
    color: #7f9f7f;
}

.highlight .k {
    color: #f0dfaf;
}

.highlight .l {
    color: #ccc;
}

.highlight .n {
    color: #dcdccc;
}

.highlight .o {
    color: #f0efd0;
}

.highlight .x {
    color: #ccc;
}

.highlight .p {
    color: #41706f;
}

.highlight .cm {
    color: #7f9f7f;
}

.highlight .cp {
    color: #7f9f7f;
}

.highlight .c1 {
    color: #7f9f7f;
}

.highlight .cs {
    color: #cd0000;
    font-weight: bold;
}

.highlight .gd {
    color: #cd0000;
}

.highlight .ge {
    color: #ccc;
    font-style: italic;
}

.highlight .gr {
    color: red;
}

.highlight .gh {
    color: #dcdccc;
    font-weight: bold;
}

.highlight .gi {
    color: #00cd00;
}

.highlight .go {
    color: gray;
}

.highlight .gp {
    color: #dcdccc;
    font-weight: bold;
}

.highlight .gs {
    color: #ccc;
    font-weight: bold;
}

.highlight .gu {
    color: purple;
    font-weight: bold;
}

.highlight .gt {
    color: #0040D0;
}

.highlight .kc {
    color: #dca3a3;
}

.highlight .kd {
    color: #ffff86;
}

.highlight .kn {
    color: #dfaf8f;
    font-weight: bold;
}

.highlight .kp {
    color: #cdcf99;
}

.highlight .kr {
    color: #cdcd00;
}

.highlight .kt {
    color: #00cd00;
}

.highlight .ld {
    color: #cc9393;
}

.highlight .m {
    color: #8cd0d3;
}

.highlight .s {
    color: #cc9393;
}

.highlight .na {
    color: #9ac39f;
}

.highlight .nb {
    color: #efef8f;
}

.highlight .nc {
    color: #efef8f;
}

.highlight .no {
    color: #ccc;
}

.highlight .nd {
    color: #ccc;
}

.highlight .ni {
    color: #c28182;
}

.highlight .ne {
    color: #c3bf9f;
    font-weight: bold;
}

.highlight .nf {
    color: #efef8f;
}

.highlight .nl {
    color: #ccc;
}

.highlight .nn {
    color: #8fbede;
}

.highlight .nx {
    color: #ccc;
}

.highlight .py {
    color: #ccc;
}

.highlight .nt {
    color: #9ac39f;
}

.highlight .nv {
    color: #dcdccc;
}

.highlight .ow {
    color: #f0efd0;
}

.highlight .w {
    color: #ccc;
}

.highlight .mf {
    color: #8cd0d3;
}

.highlight .mh {
    color: #8cd0d3;
}

.highlight .mi {
    color: #8cd0d3;
}

.highlight .mo {
    color: #8cd0d3;
}

.highlight .sb {
    color: #cc9393;
}

.highlight .sc {
    color: #cc9393;
}

.highlight .sd {
    color: #cc9393;
}

.highlight .s2 {
    color: #cc9393;
}

.highlight .se {
    color: #cc9393;
}

.highlight .sh {
    color: #cc9393;
}

.highlight .si {
    color: #cc9393;
}

.highlight .sx {
    color: #cc9393;
}

.highlight .sr {
    color: #cc9393;
}

.highlight .s1 {
    color: #cc9393;
}

.highlight .ss {
    color: #cc9393;
}

.highlight .bp {
    color: #efef8f;
}

.highlight .vc {
    color: #efef8f;
}

.highlight .vg {
    color: #dcdccc;
}

.highlight .vi {
    color: #ffffc7;
}

.highlight .il {
    color: #8cd0d3;
}

code,
code.highlighter-rouge {
    color: #555;
    border: 1px solid #eee;
    margin-left: 0;
    background: #fefefe;
    box-shadow: none;
}

.highlighter-rouge {
    pre {
        code,
        span {
            background-image: none;
            background-color: #404040;
            border: 0;
        }
    }
}

.highlighter-rouge {
    width: 100%;
    margin: 0 0 1rem;
    text-align: left;
    border: 0;
    position: relative;
    background-color: #404040;
    @include border-radius(0.3rem);

    pre {
        width: 100%;
        display: block;
        margin: 0;
        padding: 2rem 1em .5rem;
        @include border-radius(0.3rem);
    }

    code {
        white-space: pre-wrap;
        padding: 0;

        &::before {
            content: 'example';
            @include border-radius(0.3rem 0.3rem 0 0);
            @include box-sizing;
            color: #fff;
            font-size: .75rem;
            font-weight: normal;
            font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
            height: 1.4rem;
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            line-height: 1.8;
            margin-bottom: 0;
            text-align: center;
            width: 100%;
            background: #333;
        }
        &::after {
            width: 8px;
            height: 8px;
            border-radius: 100%;
            content: '';
            position: absolute;
            left: 8px;
            top: 8px;
            background-color: $iron;
            box-shadow: 16px 0 0 $iron, 32px 0 0 $iron;
        }
        $langs: apache, bash, cfg, css, html, javascript, jinja, php, ruby, sass, scss, yaml, xml;

        @each $lang in $langs {
            &.#{$lang},

            &.language-#{$lang} {

                &::before {
                    @if $lang == "apache" {
                        content: '.example';
                    }

                    @else if $lang == "bash" {
                        content: 'example.sh';
                    }

                    @else if $lang == "javascript" {
                        content: 'example.js';
                    }

                    @else if $lang == "jinja" {
                        content: 'example.html';
                    }

                    @else if $lang == "yaml" {
                        content: 'example.yml';
                    }

                    @else if $lang == "ruby" {
                        content: 'example.rb';
                    }

                    @else {
                        content: "example.#{$lang}";
                    }
                }
            }
        }
    }
}
