*, *::after, *::before {
  box-sizing: border-box;
}

html {
  font-family: Open Sans, sans-serif;
  color: rgba(#000, .87);
  line-height: 1.5;
  font-size: calc(1em + .25vw);
}

body {
  margin: 0;
  overflow-x: hidden;
  background-color: #ffea00;
  background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPHN2ZyB3aWR0aD0iMjBweCIgaGVpZ2h0PSIyMHB4IiB2aWV3Qm94PSIwIDAgMTAgMTAiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8IS0tIEdlbmVyYXRvcjogU2tldGNoIDYyICg5MTM5MCkgLSBodHRwczovL3NrZXRjaC5jb20gLS0+CiAgICA8dGl0bGU+QXJ0Ym9hcmQ8L3RpdGxlPgogICAgPGRlc2M+Q3JlYXRlZCB3aXRoIFNrZXRjaC48L2Rlc2M+CiAgICA8ZyBpZD0iQXJ0Ym9hcmQiIHN0cm9rZT0ibm9uZSIgc3Ryb2tlLXdpZHRoPSIxIiBmaWxsPSJub25lIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGZpbGwtb3BhY2l0eT0iMC4xIj4KICAgICAgICA8Y2lyY2xlIGlkPSJPdmFsIiBmaWxsPSIjMDAwMDAwIiBjeD0iOS41IiBjeT0iOS41IiByPSIxIj48L2NpcmNsZT4KICAgIDwvZz4KPC9zdmc+");
}

h1, h2, h3, h4, h5 {
  font-family: Fjalla One, sans-serif;
  font-weight: 400;
  margin: 0 0 1rem;
  padding: 0;
  letter-spacing: -.02em;
  line-height: 1.1;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 2rem;
}
h4 {
  font-size: 1rem;
}
h5 {
  font-size: 1rem;
  text-transform: uppercase;
}

main {
  padding: 2rem;
  background-color: #fff;
    > h3 {
    display: flex;
    text-transform: uppercase;
    align-items: center;
    margin-bottom: 2rem;

    &::before {
      content: '';
      height: .1rem;
      flex: 1;
      background-color: #dadbdf;
      margin-right: .5em;
    }

    &::after {
      content: '';
      height: .1rem;
      flex: 1;
      background-color: #dadbdf;
      margin-left: .5em;
    }
  }
  > article ~ h3 {
    margin-top: 3rem;
  }
  > p + h3 {
    margin-top: 4rem;
  }
}

.post {
  header {
    text-align: center;
    margin: 3rem 0 4rem;
  }
}

@keyframes dashdotdash {
  0%,
  100% {
      border-bottom-style: solid;
  }

  25%,
  75% {
      border-bottom-style: dotted;
  }

  50% {
      border-bottom-style: dashed;
  }
}
a {
  color: inherit;
  text-decoration: none;
  border-bottom: .05rem solid rgba(0,0,0,.2);
  box-decoration-break: clone;

  &:hover {
    border-bottom-color: currentColor;
  }
}
main a:hover {
  animation: dashdotdash .4s infinite;
}
.post-meta {
  font-size: .8rem;
  text-transform: uppercase;
  margin: -0.5rem 0 0;
  opacity: .6;
  
  span {
    font-size: 1rem;
  }
  a {
    border: 0;

    &:hover {
      text-decoration: underline;
    }
  }
}

img {
  max-width: 100%;
  height: auto;
  margin: auto;
}

figure {
  margin: 2rem 0;
  text-align: center;
}


.iframe {
  position: relative;
  padding-top: 56.25%;
  height: 0;
  width: 100%;
  margin: 2rem auto;

  iframe {
    border: 0;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
  }
}
.massive {
  margin-left: -1rem;
  width: calc(100% + 2rem);
}

article {
  clear: both;

  header {
    h2 {
      a {
        border-bottom: 0;
      }
    }
    p {
      font-size: .8rem;
    }
  }

  &.with-thumbnail {

    > header {
      padding-right: 7rem;
      position: relative;
    }
    
    > p {
      margin-right: 7rem;
    }

    .post-thumbnail {
      filter: grayscale(90%);
      height: auto;
      max-width: 6rem;
      position: absolute;
      top: 0;
      right: 0;
    }
  }

  .notice {
    width: calc(100% + 2rem);
    margin-left: -1rem;
  }

  & + article,
  & + h3 {
    margin-top: 3rem;
  }

}
.notice {
  background-color: rgba(#dadbdf, .2);
  padding: 2rem;
}

.header {
  display: flex;
  margin-bottom: 2rem;
  margin-top: 5rem;
  padding: 0 1rem;

  a {
    border: none;
  }

  h1 {
    flex: 1;
    margin: 0;
    text-transform: uppercase;
    font-weight: bold;
  }
  nav {
    align-self: center;
    font-weight: bold;

    a + a {
      margin-left: 1rem;
    }
  }
}
.center {
  text-align: center;
}

blockquote {
  background-color: rgba(#dadbdf, .2);
  padding: 1rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: -1rem;
  width: calc(100% + 2rem);
  font-size: 1rem;

  p {
    color: #555;
    font-style: italic;
    font-size: 1em;
    margin: 0;

    & + p {
      margin-top: 1em;
    }
  }
}

.pagination {
  display: flex;
  border-top: .1rem solid #dadbdf;
  padding-top: 2rem;
  margin-top: 2rem;

  a {
    flex: 1;
    border: 0;
    text-transform: uppercase;
  }
  .pull-left {
    text-align: left;
    align-self: flex-start;
  }
  .pull-right {
    text-align: right;
    align-self: flex-end;
  }
}

.pull-comment {
  blockquote {
    position: relative;
    padding: 2rem;
    padding-top: 2.5rem;
    font-size: .7rem;

    &::before {
      content: '// note';
      text-transform: uppercase;
      font-weight: bold;
      font-size: 0.9rem;
      position: absolute;
      opacity: .3;
      left: 2rem;
      top: 1rem;
      line-height: 1;
    }

    p {
      max-width: 100%;
    }
  }
}

// Media queries

@media screen and (max-width: 600px) {
  .header {
    flex-direction: column;
    text-align: center;
    padding: 0;

    nav {
      width: 100%;
    }
  }
}
@media screen and (min-width: 1200px) {
  body {
    width: 80%;
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;

    main {
      position: relative;
    
      &:after {
        content: '';
        background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPSczJyBoZWlnaHQ9JzMnPjxjaXJjbGUgY3g9JzIuNScgY3k9JzIuNScgcj0nLjUnIGZpbGw9JyMyNDJhNDknLz48L3N2Zz4=);
        background-repeat: repeat;
        background-position: bottom right;
        background-size: 4px 4px;
        position: absolute;
        z-index: -1;
        left: .5rem;
        right: -.5rem;
        top: .5rem;
        bottom: -.5rem;
      }
    }
  }
}



.rating {
  font-size: 2rem;
  font-weight: bold;
  margin: auto;
  margin-top: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  .title,
  .number {
    font-size: .6em;
    line-height: 1;
  }

  .stars-outer,
  .stars-inner {
    background-size: contain;
    background-position: 0 50%;
    height: 1em;
  }
  .stars-outer {
    background-image: url(star.svg);
    width: 5em;
    margin: 0 .5em;
    flex-shrink: 0;
  }

  .stars-inner {
    width: 0;
    background-image: url(star-filled.svg);
  }
}

.post-bio {
  img {
    float: right;
    max-width: 8rem;
    height: auto;
    margin-left: 1rem;
  }
}