*, *::before, *::after {
  box-sizing: border-box;
}
html {
  font-family: Muli, sans-serif;
  font-size: calc(1em + .5vw);
  font-weight: 300;
  line-height: 1.6;
  background: #fff;
}
body {
  width: 80%;
  max-width: 80%;
  margin: 0 auto;
  padding: 0 10%;
  color: #484c55;
  background-color: rgba(#fafafa, .9);

  @media (min-width: 1280px) {
    width: 70%;
  }
  @media (max-width: 1024px) {
    width: 100%;
    max-width: 100%;
  }
}

a {
  text-decoration: none;
  border-bottom: 3px solid #dadbdf;
  transition: border .2s ease;
  background-color: transparent;

  &, &:link,
  &:hover {
    color: inherit;
  }

  &:hover {
    border-color: #015799;
  }

  &.post-thumbnail {
    float: right;
    border: 0;
  }

  h2 & {
    border: 0;
    display: block;
  }
}

h2, h3, h4, h5, h6 {
  font-family: Droid Serif, serif;
  font-weight: bold;
  color: #111;
  margin: 2rem 0 1rem;
}

body {
  padding-top: 3rem; // For the .header
}
.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 3rem;
  background-color: #25272c;
  color: #fafafa;

  a {
    border: 0;
  }

  h1 {
    margin: 0 0 0 1rem;
    padding: 0;
    font-family: Droid Serif, serif;
    font-size: 1.2rem;
    float: left;
    line-height: 3rem;

    a {
      @media (max-width: 1024px) {
        width: 2em;
        overflow: hidden;
        text-indent: 99em;
        position: relative;
        display: block;

        &::before {
          content: 'M';
          text-indent: 0;
          position: absolute;
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
        }
      }
    }
  }

  nav {
    float: right;
    display: flex;
    height: 3rem;
    margin-right: 1rem;

    a {
      flex: 1;
      height: 3rem;
      line-height: 3rem;
      margin-left: 1em;

      &:hover {
        color: #dadbdf;
      }

      @media (max-width: 1024px) {
        &:first-of-type {
          display: none;
        }
      }
    }
  }
}

main {
  padding-bottom: 2rem;
}

article {
  header {
    margin-bottom: 2rem;

    h2 {
      font-size: 2rem;
      line-height: 1.3;
    }
  }
}


p {
  margin: 0;
  padding: 0;

  + p {
    margin-top: 1rem;
  }
}
li {
  overflow-wrap: break-word;
  word-wrap: break-word;
}

img {
  max-width: 100%;
  height: auto;
  border: 0;

  @media (max-width: 1024px) {
    margin-left: 0!important;
  }
}

.center {
  text-align: center;

  * {
    margin: auto;
  }
}
hr {
  background-color: rgba(100,100,100,.1);
  border: 0;
  margin: 2.5rem 0;
  height: 1px;
  box-sizing: content-box;
}

blockquote {
  margin: 2rem auto;
  padding: 1rem 2rem;
  font-family: Droid Serif, serif;
  display: block;
  font-size: 1.2rem;
  font-weight: bold;
  color: #25272c;
  border-left: 1px solid rgba(100,100,100,.1);
}

iframe {
  border: 0;
  background: rgba(100,100,100,.1);
  margin: 2rem auto;
}
.iframe {
  height: 0;
  position: relative;
  overflow: hidden;
  padding-top: 56.25%;
  margin: 2rem auto;

  iframe {
    margin: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
  }

  + .iframe {
    margin-top: 0;
  }
}
.massive {
  background-color: rgba(100,100,100,.1);
  width: 110%;
  margin: 2rem 0 2rem -5%;
  text-align: center;
  line-height: 0;

  * {
    width: 100%;
    margin: auto;
  }

  + .massive {
    margin-top: 0;
  }
}

.massive.center {
  text-align: center;
  background-color: transparent;
  
  img {
    width: auto;
    height: auto;
  }
}



.pull-left {
  float: left;
}
.pull-right {
  float: right;
}

.pagination {
  overflow: hidden;
  margin: 2rem 0;
}


article {
  header, footer {
    p {
      font-size: .8rem;
    }
  }
}
