

* {
  box-sizing: border-box;
}
html {
  font-size: 18px;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
}
body {
  text-align: center;
  background-color: $colorBackgroundBody;
}

a {
  color:  $oxfordBlue;
  text-decoration: none;
  border-bottom: 1px dashed  $oxfordBlue;
  cursor: pointer;
  transition:
    border-color .2s cubic-bezier(0.4,0,0.2,1),
    color .2s cubic-bezier(0.4,0,0.2,1),
    background-color .2s cubic-bezier(0.4,0,0.2,1)
  ;

  &:hover {
    border-bottom-color: $iron;
  }
  &:focus,
  &:active {
    text-decoration: underline;
    outline: none;
    background: $iron;
  }
}

.header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: $heightHeader;
  background-color: $colorBackgroundHeader;
  color: $colorForegroundHeader;
  z-index: 100;

  .inner {
    max-width: 100%;
    margin: 0 auto;
    padding: 0 1rem;
    width: $widthSite;
    text-align: left;
  }
}

.site-title {
  color: inherit;
  border: 0;
  background: none;
  float: left;
  line-height: 1;
  font-size: 1.5rem;

  h1 {
    margin: 0;
    font-size: 1em;
    margin-right: 1rem;
    padding: .5em;
    font-weight: 400;
  }

  &:active,
  &:focus {
    background: transparent;
  }
}
.main-navigation {
  float: right;

  div {
    display: inline-block;
    font-size: 1rem;

    a {
      display: block;
      padding: 1em .5em;
      line-height: 1;
      color: inherit;
      border: 0;

      &:active,
      &:focus {
        background-color: transparent;
      }
    }
    &.active {
      border-bottom: .3rem solid $oxfordBlue;

      a {
        padding-bottom: .7rem;
      }
    }
  }
}
.wrapper {
  width: $widthSite;
  margin: 0 auto;
  max-width: 100%;
  text-align: left;
  position: relative;
}
.content {
  width: $widthContent;
  margin-top: $heightHeader;
  background-color: $colorBackgroundContent;
  color: $colorForegroundContent;

  .inner {
    padding: 2rem;
  }
}

hr {
  border: 0;
  display: block;
  height: 1px;
  background: $colorBorder;
  clear: both;
  margin: 1rem 0;
}

.center {
  text-align: center;
}
article {
  p,
  li {
    line-height: 160%;
  }
  img {
    max-width: 100%;
    height: auto;

    &.massive {
      max-width: initial;
      border-radius: .3rem;
    }
  }
  .highlight,
  img.massive,
  iframe,
  blockquote {
    width: 104%;
    margin-left: -2%;
  }
  iframe {
    border: 0;
    min-height: 26rem;
    @include border-radius(.3rem);
  }
  iframe,
  img.shadow,
  .highlight {
    @include box-shadow(0 0 2.5rem 0 rgba(0,0,0,0.15));
  }
  blockquote {
    border-left: 4px solid $colorBorder;
    padding-left: 1rem;
    font-style: italic;
    font-size: 110%;
  }
}
.post-thumbnail {
  width: 11rem;
  height: 11rem;
  overflow: hidden;
  display: block;
  text-align: center;
  position: relative;
  float: right;
  margin-left: 1rem;
  border: 0;
  @include border-radius(100%);
}
.article-heading {
  font-size: 2.2rem;
  font-weight: 400;
  margin-bottom: 0;
  color: $colorForegroundContent;
}
@include breakpoint("small") {
  .post-thumbnail {
    float: none;
    margin: auto;
  }
  .article-heading {
    font-size: 1.5rem;
  }
  .hide-mobile {
    display: none;
  }
  .site-title {
    width: 3em;
    overflow: hidden;
    text-indent: -999em;
    position: relative;
    margin-right: 0;

    &::before {
      content: 'M';
      text-indent: 0;
      position: absolute;
      left: .5em;
      right: .5em;
      top: 0;
      bottom: 0;
      line-height: $heightHeader;
      font-weight: 400;
    }
  }
}
.pull-left {
  float: left;
}
.pull-right {
  float: right;
}