@import "_variables";
@import "_mixins";

* {
    @include box-sizing;
}

::selection {
    background-color: $color_highlight;
}

::-moz-selection {
    background-color: $color_highlight;
}

html {
    font-size: 18px;
    font-family: $sansserif_fonts;
    overflow-x: hidden;
    overflow-y: auto;
}

body {
    margin: 0;
    @include rem(padding, 0 0 10rem);
    font-weight: 400;
    line-height: 1.5;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    color: $color_tertiary;
    background-color: $color_secondary;
    text-align: center;
}

@include breakpoint("small") {
    body {
        @include rem(padding, 1rem);
    }
}


h1, h2, h3, h4, h5, h6, p, ul, ol, hr, p img, figure img, .comments {
    @include rem(max-width, $max_width);
    width: 100%;
}

h1, h2, h3, h4, h5, h6, p, ul, ol, hr, img, .comments {
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    @include rem(margin-bottom, 1rem);
    text-align: left;
    line-height: 1;
}

h1, h2, h3, h4, h5, h6 {
    padding: 0;
    @include rem(font-size, 1rem);
}

h1 {
    @include rem(font-size, 2rem);
}

h2 {
    @include rem(font-size, 1.5rem);
    @include rem(margin, 2rem auto);
    color: $color_primary;
}

p, li {
    line-height: 1.5;
}

hr {
    height: 0;
    width: 80%;
    border: transparent;
    border-top: 2px solid $color_quaternary;
    @include rem(margin, 2rem auto);
    clear: both;
    display: block;
}

iframe {
    width: 100%;
    border: 0;
    @include rem(height, 20rem);
    @include rem(max-width, $max_width);
    @include rem(margin, 0 auto 1rem);
}
article {
    iframe {
        @include box-shadow(0 0.3rem 1rem rgba(0, 0, 0, 0.4));
    }
}

a {
    @include transition(0.2s, color, ease-in-out);

    &, &:link, &:active {
        color: $color_link_primary;
        text-decoration: none;
    }

    &:visited {
        opacity: .8;
    }

    &:hover, &:focus {
        color: $color_link_secondary;
        text-decoration: underline;
    }
}

header {
    display: block;
    @include box-sizing;
    background-color: $color_tertiary;
    @include rem(margin-bottom, 2rem);
}

.header-inner {
    text-align: right;
    @include rem(padding, 3rem 0);
    @include rem(max-width, $max_width);
    margin: 0 auto;

    a {
        display: inline-block;
        @include rem(font-size, 1rem);
        font-weight: bold;
        text-decoration: none;
        text-transform: uppercase;
        @include rem(margin, 0 0 0 1rem);
        color: $color_secondary;

        &:first-child {
            float: left;
            margin-left: 0;
        }
    }
}

@include breakpoint("small") {
    header {
        @include rem(margin, -1rem -1rem 2rem);
    }

    .header-inner {
        @include rem(padding, 3rem 1rem);

        [href="/"] {
            display: none;
        }
    }
}


.warning-message {
    @include rem(padding, 2rem 0);
    @include rem(margin, -2rem auto 2rem);
    background-image: url(bg_light.png);

    p {
        color: rgba(0, 0, 0, 0.7);
        margin-top: 0;
        margin-bottom: 0;
    }
}

.top {
    position: fixed;
    @include rem(right, 1rem);
    @include rem(bottom, 1rem);
    color: $color_quaternary;
    text-transform: uppercase;
    font-weight: bold;
}
