@import "mixins";
@import "variables";

* {
    @include box-sizing;
}

html {
    font-size: 14px;
    line-height: 1.5;
}

body {
    background: #263238;
    background-image: url(triangles.png);
    background-size: 100% auto;
    background-attachment: fixed;
}

a {
    text-decoration: none;
}

.inner {
    background: #fff;
    color: #555;
    padding: 30px;
    margin-bottom: 30px;
    clear: both;
    text-align: center;
    @include box-shadow(0 27px 24px 0 rgba(#000, 0.2), 0 40px 77px 0 rgba(#000, 0.22));
    border-top: 10px solid #B0BEC5;

    a {
        &,
        &:visited {
            color: #01579B;
        }

        &:hover {
            color: lighten(#01579B, 10%);
        }
    }
}

.navigation {
    border: 0;
    padding: 0;
    background: #B0BEC5;

    a {
        color: #fff;
        height: 88px;
        background-position: 50% 0;
        background-repeat: no-repeat;

        span {
            overflow: hidden;
            display: block;
            text-indent: -99em;
            width: 0px;
            height: 0px;
        }

        &.pull-left {
            // prev
            background-image: url(arrow-left.png);
        }

        &.pull-right {
            // next
            background-image: url(arrow-right.png);
        }

        &:hover {
            background-color: rgba(#fff, 0.2);
            background-position: 50% -88px;
        }
    }
}

.warning-message {
    border: 0;
    background: #B0BEC5;
    color: #fff;

    a {
        &, &:visited {
            color: #fff;
            text-decoration: underline;
        }
    }
}

hr {
    clear: both;
    height: 1px;
    border: 0;
    width: 80%;
    margin: 2rem auto;
    background: #eee;
}

p, ul, ol {
    font-size: 1rem;
    margin: 0 0 1rem;

    &:last-child {
        margin-bottom: 0;
    }
}

p {
    & + .metadata {
        margin-top: 2rem;
    }

    &.metadata {
        font-size: .8rem;
        text-transform: uppercase;
        color: #777;
    }
}

h1, h2, h3, h4, h5, h6 {
    margin: 0 0 1rem;
    line-height: 1;
}

h1 {
    font-size: 3.2rem;
}

h2 {
    font-size: 1.8rem;
}

h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: 1.4rem;
}

h5 {
    font-size: 1.2rem;
}

h1, h2, h3, h4, h5, h6, p, ul, ol {
    text-align: left;
}

blockquote {
    border-left: 3px solid $color_highlight;
    margin-left: 0;
    padding-left: 1rem;

    p {
        font-style: italic;
    }
}

.article-heading {
    font-size: 2.4rem;
    line-height: 1.2;

    @include gridle_state("mobile") {
        font-size: 2rem;
    }
}

.listing {
    .article-heading {
        font-size: 2rem;
    }
}

header {
    padding: 40px 0;
    text-shadow: 0 5px 10px rgba(#000, 0.2);

    a {
        color: #fff;
        text-transform: uppercase;
        letter-spacing: 1px;
    }

    h1 {
        margin: 0;
        font-weight: normal;
    }

    .pull-right {
        padding-top: .5rem;
    }

    @include gridle_state("mobile") {
        .pull-left {
            display: none;
        }

        .pull-right {
            float: none;
            text-align: center;
            padding-top: 0;
        }
    }
}

nav {
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;

    a {
        margin-left: 1rem;
        font-size: 1.6rem;
    }

    @include gridle_state("mobile") {
        a {
            margin: 0 .5rem;
            font-size: 1rem;
        }
    }
}

img, iframe {
    border: 0;
    width: 100%;
    margin: 0 0 1rem;
}

img {
    max-width: 100%;
    height: auto;

    &.center {
        margin: 0 auto 1rem;
    }

    &.pull-left {
        margin-right: 20px;
    }

    &.pull-right {
        margin-left: 20px;
    }

    &.thumb-100 {
        width: 100px;
    }

    &.thumb-200 {
        width: 200px;
    }

    &.rounded {
        border-radius: 50%;
    }
}

p {
    img {
        margin-bottom: 0;
    }
}

aside {
    h3 {
        text-transform: uppercase;
        font-size: 1.5rem;
    }
}

.posts-list {
    padding-left: 0;
    list-style: none;

    li {
        margin-bottom: .5rem;

        .title,
        .date {
            display: block;
        }

        .date {
            text-transform: uppercase;
            color: #777;
            font-size: .8rem;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }
}
