$heightHeader: 3rem;
$widthSite: 900px;
$widthContent: 100%;


$iron: #dadbdf;
$regentGrey: #808c99;
$oxfordBlue: #015799;
$paleSky: #6b717f;

$colorBackgroundHeader: darken($paleSky, 30);
$colorForegroundHeader: #fff;
$colorBackgroundBody: lighten($iron, 20);

$colorBackgroundContent: #fff;
$colorForegroundContent: darken($paleSky, 15);

$colorBorder: lighten($regentGrey, 30);
