$color_primary: #444;
$color_secondary: #fff;
$color_tertiary: #2a2a2a;
$color_quaternary: #eee;

$color_link_primary: #6792a6;
$color_link_secondary: #86bfd9;

$color_highlight: lighten($color_link_secondary, 20%);

$sansserif_fonts: Helvetica Neue,Helvetica,Arial,sans-serif;

$max_width: 40rem;
