<div class="lwal-links">
  {% for item in page.links %}
    {% if item.youtube %}
      <div class="lwal-item lwal-video">
        <a href="{{ item.youtube }}" class="u-bookmark-of" hidden></a>
        {% if item.caption %}<p class="lwal-caption">{{ item.caption }}</p>{% endif %}
        <div class="lwal-embed-wrap">
          {% include posts/figure.html type="iframe" src=item.youtube class="lwal-embed" %}
        </div>
      </div>
    {% else %}
      <div class="lwal-item lwal-link">
        {% if item.desc %}<p class="lwal-link-desc">{{ item.desc | markdownify | remove: '<p>' | remove: '</p>' }}</p>{% endif %}
        <a href="{{ item.url }}" class="lwal-link-title u-bookmark-of" rel="nofollow" target="_blank">{{ item.title }}</a>
      </div>
    {% endif %}
  {% endfor %}
</div>
