{% if page.has_hack %}
{% assign day_date = page.date|date:'%d' %}
{% assign day_number = day_date|times:1 %}
<h3 class="wide-h3">Cardboctober day {{ day_number }}</h3>
<div class="cardboctober-nav">
<p>
    <a href="https://cardboctober.github.io/max/{{ day_date }}/">View this Cardboctober hack</a> &bull; <a href="https://github.com/cardboctober/max/tree/master/{{ day_date }}/">View the source code on Github</a>
</p>
<p>
    View the other submissions for day {{ day_number}} on the <a href="https://cardboctober.github.io/#{{ day_date }}">Cardboctober website</a>.
</p>
</div>
{% endif %}
