<script type="text/template" id="tpl-comment">
  <article class="reply%is_author_class%" data-source="github">
    %avatar%
    <header>
      <h4><a href="%author_url%" rel="nofollow" class="name">%author_name%</a> %verb% <a href="%url%" rel="nofollow">on <time datetime="%date%">%date_formatted%</time> via %domain%</a></h4>
    </header>
    <div>%body%</div>
  </article>
</script>
<script type="text/template" id="tpl-reply">
  <article class="reply%is_author_class%" data-source="webmention" data-platform="%platform%">
    %avatar%
    <header>
      <h4><a href="%author_url%" rel="nofollow" class="name">%author_name%</a> %verb% <a href="%url%" rel="nofollow">on <time datetime="%date%">%date_formatted%</time> via %domain%</a></h4>
    </header>
    <div>%body%</div>
  </article>
</script>
<script type="text/template" id="tpl-mention-rich">
  <article class="reply mention-rich%is_author_class%" data-source="webmention" data-platform="%platform%">
    %avatar%
    <header>
      <h4><a href="%author_url%" rel="nofollow" class="name">%author_name%</a> %verb% <a href="%url%" rel="nofollow">on <time datetime="%date%">%date_formatted%</time> via %domain%</a></h4>
    </header>
    <div>%summary%</div>
  </article>
</script>
<script type="text/template" id="tpl-chip">
  <a class="chip" href="%url%" rel="nofollow" data-source="webmention" data-platform="%platform%" title="%what% &middot; %date_formatted%">
    <svg class="platform-icon" aria-hidden="true"><use xlink:href="#icon-%icon%"></use></svg>
    <span class="chip-label">%label%</span>
    <span class="chip-meta">%what%, <time datetime="%date%">%date_formatted%</time></span>
  </a>
</script>
