@mixin opacity($opacity: 0) {
    opacity: $opacity;
    -ms-filter: unquote("progid:DXImageTransform.Microsoft.Alpha(Opacity=#{round($opacity * 100)})");
    filter: alpha(opacity=#{round($opacity * 100)});
}
@mixin transition($duration, $property: all, $timing-function: linear) {
    -moz-transition: $property $duration $timing-function;
    -webkit-transition: $property $duration $timing-function;
    -o-transition: $property $duration $timing-function;
    transition: $property $duration $timing-function;
}
@mixin user-select($appearance: none) {
    -webkit-touch-callout: $appearance;
    -webkit-user-select: $appearance;
    -khtml-user-select: $appearance;
    -moz-user-select: $appearance;
    -ms-user-select: $appearance;
    user-select: $appearance;
}
@mixin box-sizing($type: border-box) {
    -moz-box-sizing: $type;
    -webkit-box-sizing: $type;
    box-sizing: $type;
}
@mixin box-shadow($shadow: 0 0 10px rgba(0,0,0,.06)) {
    -moz-box-shadow: $shadow;
    -webkit-box-shadow: $shadow;
    box-shadow: $shadow;
}
@mixin border-radius($radius) {
    -moz-border-radius: $radius;
    -webkit-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
}
@mixin breakpoint($breakpoint) {
    @if $breakpoint == "big" {
        @media (min-width: 1024px) {
            @content;
        }
    }
    @else if $breakpoint == "not-big" {
        @media (max-width: 1023px) {
            @content;
        }
    }
    @else if $breakpoint == "medium" {
        @media (min-width: 768px) and (max-width: 1023px) {
            @content;
        }
    }
    @else if $breakpoint == "small" {
        @media (max-width: 768px) {
            @content;
        }
    }
}
@mixin background-size($type: 100% cover) {
    -moz-background-size: $type;
    -webkit-background-size: $type;
    background-size: $type;
}
@mixin transform($transforms) {
    -moz-transform: $transforms;
    -webkit-transform: $transforms;
    transform: $transforms;
}
@mixin diagonal-background($width, $height, $color, $invert: false) {
    position: relative;
    &::after {
        $w_int: $width/1px;
        $h_int: $height/1px;
        $v_pad: ($height / $width) * 100 + 1%;
        @if $invert {
            padding: 0 0 #{$v_pad};
            background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="#{$w_int}" height="#{$h_int}"><polygon points="0,#{$h_int} #{$w_int},0 0,0" preserveAspectRatio="none" style="fill:#{$color};stroke:#{$color};stroke-width:0"></polygon></svg>');
            background-position: 50% top;
            top: 0;
        }@else{
            padding: #{$v_pad} 0 0;
            background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="#{$w_int}" height="#{$h_int}"><polygon points="0,#{$h_int} #{$w_int},0 #{$w_int},#{$h_int}" preserveAspectRatio="none" style="fill:#{$color};stroke:#{$color};stroke-width:0"></polygon></svg>');
            background-position: 50% bottom;
            bottom: 0;
        }
        background-color: transparent;
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        width: 100%;
        height: 0;
        content: '';
    }
}
