$color_primary: #444;
$color_secondary: #fff;
$color_tertiary: #2a2a2a;
$color_quaternary: #eee;

$color_link_primary: #6792a6;
$color_link_secondary: #86bfd9;

$sansserif_fonts: Helvetica Neue,Helvetica,Arial,sans-serif;
$serif_fonts: Georgia,Times,Times New Roman,serif;
