---
---

#interactions {
  h3 {
    align-items: center;
  }
  button {
    order: 10;
    padding: 0;
    margin: 0 0 0 .5em;
    background: none;
    border: 0;
    font-size: inherit;
    width: 1em;
    height: 1em;
    cursor: pointer;

    svg {
      width: 1em;
      height: 1em;
      pointer-events: none;
    }
  }
  .comments-open {
    display: none;
  }
  
  .avatar {
    width: 60px;
    height: 60px;
    overflow: hidden;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-crisp-edges;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
  }
  
  .likes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 80%;
    margin: auto;
  
    .like {
      flex: 1;
      width: 60px;
      height: 70px;
      flex-basis:10%;
      position: relative;
  
      .avatar {
        position: absolute;
        top: 0;
        right: 0;
        border-radius: 50%;
        border: 0;
        max-width: initial;
        transition: .2s;
        text-indent: -999em;
  
        &:hover {
          transform: scale(1.2);
          z-index: 1;
        }
      }
      
      @media (max-width: 880px) {
        flex-basis: 60px;
        flex-shrink: 0;
  
        .avatar {
          left: 0;
        }
      }
    }
  }
  
  .reply {
    position: relative;
    padding-left: 60px;
  
    .avatar {
      position: absolute;
      top: 0;
      left: 0;
    }
    header {
      padding: 0 .5rem;
      h4 {
        margin: 0;
      }
    }
    > div {
      padding: .5rem;
      font-size: .8rem;
  
      p {
        margin: 0;
        font-size: 1em;
  
        & + p {
          margin-top: 1rem;
        }
      }
  
      blockquote {
        font-size: 1em;
        padding: .5rem;
        margin: 1rem 0;
      }
    }
  }
  
  > div {
    padding: 2rem 0;
  }
}
