/**
 * Zenburnesque theme
 *
 * Adapted from Ultraviolet RubyGem
 *
 * @author Flinn Mueller
 * @version 1.0
 */
pre {
    background: #26292C;
    color: #F8F8F2;
    word-wrap: break-word;
    margin: 0px;
    padding: 10px;
    font-size: 14px;
    margin-bottom: 20px;
}

pre, code {
    font-family: 'Monaco', courier, monospace;
}

pre .comment {
    color: #75715E;
    font-style: italic;
}

pre .integer,
pre .numeric {
    color: #E6DB74;
}

pre .storage {
    color: #a6e22e;
}

/* This includes regexes */
pre .string {
    color: #E6DB74;
}

pre .keyword, pre .selector {
    color: #E6DB74;
}

pre .inherited-class {
    font-style: italic;
    color: #A6E22E;
}

pre .support {
    color: #C83730;
}

pre .entity,
pre .attribute {
  color: #F09040;
}

pre .variable.class {
  color: #A6E22E;
}
pre .support.css-property {
    color: #66D9EF;
}
pre .support.css-value {
    color: #E6DB74;
}
