---
---
@import "pygments";

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}
.highlighter-rouge {
  margin: 2rem 0;
  margin-left: -1rem;
  padding: .5rem;
  font-size: .8rem;
  color:#fdce93;
  background-color:#3f3f3f;

  @media screen and (min-width: 1200px) {
    width: 100vw;
    margin-left: -11.5vw;
    padding-left: 11.5vw;
  }

  .highlight {
    color:#fdce93;
    background-color:#3f3f3f;
  }

  pre {
    margin: 0;
  }
}
code {
  font-family: Fira Mono, monospace;
  font-weight: 300;

  &.highlighter-rouge,
  .comment & {
    padding: 0 .25rem;
    margin: 0;
    color: #383838;
    background-color: #f8f8f8;
  }
}
