---
---
@import "pygments";

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}
.highlighter-rouge {
  font-size: .8rem;
  color:#fdce93;
  background-color:#3f3f3f;
  width: calc(100% + 2rem);
  margin-left: -1rem;

  padding: 1rem;
  border-radius: .25rem;

  .highlight {
    color:#fdce93;
    background-color:#3f3f3f;
  }

  pre {
    margin: 0;
  }
}
code {
  font-family: Fira Mono, monospace;
  font-weight: 300;

  &.highlighter-rouge,
  .comment & {
    padding: 0 .25rem;
    margin: 0;
    color: #383838;
    background-color: #f8f8f8;
  }
}
