---
---
@import "pygments";

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}
.highlighter-rouge {
  color: #383838;
  padding: .5rem;
  margin: 1rem 0;
  background-color: #f8f8f8;
  font-size: .8rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.14);

  pre {
    margin: 0;
  }
}
code {
  font-family: Fira Mono, monospace;
  font-weight: 300;

  &.highlighter-rouge {
    padding: 0 .25rem;
    margin: 0;
    color: #383838;
    background-color: #f8f8f8;
  }
}