@import "_variables";
@import "_mixins";

* {
    @include box-sizing;
}
html {
    font-size: 18px;
}
body {
    margin: 0;
    padding: 0;
    background-color: $color_secondary;
    font-weight: 400;
    line-height: 1.5;
    overflow-x: hidden;
    font-family: $sansserif_fonts;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    font-size: 1rem;
    font-family: $sansserif_fonts;

    .article-body & {
        margin-bottom: 1em;
    }
}
hr {
    width: 80%;
    height: 0;
    border: 0 solid $color_secondary;
    border-top: 2px solid $color_quaternary;
    margin: 2rem 10%;
    clear: both;
    display: block;
}
a {
    @include transition(.2s, color, ease-in-out);

    &, &:link, &:active {
        color: $color_link_primary;
    }
    &:visited {
        opacity: .8;
    }
    &:hover, &:focus {
        color: $color_link_secondary;
    }
}
.wrap {
    background-color: $color_tertiary;
    background-image: url(bg.png);
    background-position: 50% 0;
    @include background-size;
}
.header {
    padding: 2rem 1rem;
    @include box-sizing;

    h1 {
        font-family: Montserrat, $sansserif_fonts;
        text-shadow:
            0 0 2.5rem rgba(0,0,0,0.5),
            0 .1rem darken($color_secondary, 20%),
            0 .2rem darken($color_secondary, 20%),
            0 .3rem darken($color_secondary, 20%),
            0 .4rem darken($color_secondary, 20%);
        line-height: 1;
        text-align: center;
        text-transform: uppercase;
        color: $color_secondary;
        font-size: 8rem;
    }
}
.nav-buttons {
    margin-top: 4rem;
    text-align: center;

    .navbtn {
        display: inline-block;
        font-size: 1rem;
        font-weight: bold;
        text-decoration: none;
        text-transform: uppercase;
        margin: 0 1rem;
        color: $color_secondary;
    }
}
.main {
    width: 100%;
    position: relative;
    background-color: $color_secondary;
    font-family: $serif_fonts;
    padding: 50px 100px;

    .inner {
        max-width: 44rem;
        margin: 0 auto;
    }
}

@include breakpoint("medium") {
    .header {
        padding: 2rem;

        h1 {
            font-size: 5rem;
        }
    }
    .main {
        padding: 50px;
    }
}
@include breakpoint("small") {
    .header {
        padding: 1rem;

        h1 {
            font-size: 4rem;
        }
    }
    .main {
        padding: 25px;
    }
}
.article {
    position: relative;
    z-index: 10;

    .article-heading {
        font-family: $sansserif_fonts;
        font-size: 1.5rem;
        margin: 0 0 1em;

        a {
            text-decoration: none;
            color: $color_primary;
        }
    }
    .article-body {
        img,
        figure {
            max-width: 100%;
            text-align: center;
            margin: 0 auto 1rem;
        }
        p, ul {
            margin: 0;
            margin-bottom: 1rem;
            font-size: 1rem;

            img {
                margin-bottom: 0;
                display: inherit;
            }
        }
        figure {
            img {
                margin-bottom: 0;
            }
            figcaption {
                font-size: 80%;
            }
        }
        blockquote {
            margin-bottom: 1rem;
            border-left: 1em solid rgba(0,0,0,.05);
            padding-left: 1rem;
            margin-left: 0;
            p {
                font-style: italic;
                color: lighten($color_primary, 10%);
            }
        }
        .speaker {
            float: right;
            margin: 0 0 1rem 1rem;
        }
    }
}
.video-wrapper {
    width: 100%;
    margin: 0 0 1rem;
    height: 0;
    padding: 0 0 56.25%;
    position: relative;
    overflow: hidden;

    * {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        height: 100%;
        width: 100%;
        border: 0;
    }
}
.photo-max {
    margin: 0 auto;
    float: left;
    margin-right: 1rem;
    @include border-radius(100%);
}
@include breakpoint("small") {
    .photo-max {
        float: none;
        margin: 0 auto 1rem;
    }
}
.author-blurb {
    background-color: #eee;
    overflow: hidden;
    margin: 1rem -200rem;
    padding: 1rem 200rem;
    position: relative;

    img {
        top: 50%;
        position: absolute;
        margin-top: -50px;
    }
    p {
        margin: 0;
        margin-left: 7rem;
    }
}
@include breakpoint("small") {
    .author-blurb {

        img {
            position: static;
            margin: 0 auto;
            width: 100px;
        }
        p {
            margin: 1rem 0;
        }
    }
}
.about-content {
    display: block;
    clear: both;
    overflow: hidden;
}
.links {
    clear: both;
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;

    li {
        float: left;
        width: 25%;
        display: inline-block;
        margin: 0;
        text-align: center;
    }
}
code {
    padding: 2px 4px;
    font-size: 90%;
    white-space: nowrap;
}
pre {
    padding: .5rem 0;
}
@import "_pygments";
.highlight {
    width: 100%;
    margin: 0 0 1rem;
    border: 0;

    pre {
        width: 100%;
        display: block;
        margin: 0;
        padding: .5rem 1em;
    }
    code {
        white-space: pre-wrap;
        padding: 0;
    }
}
.warning-message {
    border-style: solid;
    border-width: 1px;
    border-color: #b6edff;
    margin-bottom: 1rem;
    padding: .5em 1em;
    background: #ecfaff;
    font-family: $sansserif_fonts;
    @include border-radius(4px);

    p {
        font-size: 80%;
        color: rgba(0,0,0,.7);
        margin-top: 0;
        margin-bottom: 0;
    }
}
.page-nav {
    position: fixed;
    top: 50%;
    left: 50px;
    right: 50px;
    overflow: hidden;
    z-index: 0;

    hr,
    .nav-title {
        display: none;
    }
}
@include breakpoint("big") {
    .page-nav-link {
        width: 0;
        text-indent: -999em;
        display: block;
        height: 0;
        border: 2.5rem solid transparent;
        position: relative;
        @include transition(.2s, (opacity, border-color), linear);
        @include opacity(.5);

        &:hover {
            @include opacity(1);
        }

        &::after {
            border: 2.5rem solid transparent;
            height: 0;
            content: ' ';
            position: absolute;
            display: block;
            top: -2.5rem;
            z-index: 100;
        }
        &.prev {
            float: right;
            border-left-color: $color_link_primary;
            border-left-width: 2.5rem;
            border-right-width: 0;

            &:hover {
                border-left-color: $color_primary;
            }

            &::after {
                border-left-color: $color_secondary;
                border-left-width: 2.5rem;
                border-right-width: 0;
                right: 1.5rem;
            }
        }
        &.next {
            float: left;
            border-right-color: $color_link_primary;
            border-right-width: 2.5rem;
            border-left-width: 0;

            &:hover {
                border-right-color: $color_primary;
            }

            &::after {
                border-right-color: $color_secondary;
                border-right-width: 2.5rem;
                border-left-width: 0;
                left: 1.5rem;
            }
        }
    }
}
@include breakpoint("not-big") {
    .page-nav {
        position: static;
        width: 100%;

        hr,
        .nav-title {
            display: block;
        }
        .page-nav-link {
            width: 100%;
            border: 0!important;
            float: none!important;
            height: auto;
            display: block;
            clear: both;
        }
        &.archive-nav {
            overflow: hidden;
            padding-bottom: 1em;

            .page-nav-link {
                display: inline-block;
                max-width: 50%;
                clear: none;
                margin-bottom: 2em;
            }
            .next {
                float: left!important;
                text-align: left;
            }
            .prev {
                float: right!important;
                text-align: right;
            }
        }
    }

}
