@font-face {
    font-family: 'lavanderia_regular';
    src:    url('fonts/lavanderia_regular-webfont.eot');
    src:    url('fonts/lavanderia_regular-webfont.eot?#iefix') 
            format('embedded-opentype'),
            
            url('fonts/lavanderia_regular-webfont.woff') 
            format('woff'),

            url('fonts/lavanderia_regular-webfont.ttf') 
            format('truetype'),

            url('fonts/lavanderia_regular-webfont.svg#lavanderia_regular') 
            format('svg');

    font-weight: normal;
    font-style: normal;
}
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    background: #fff;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 1.125em;
    line-height: 1.4;
}
a, a:link, a:visited {
    color: #73a325;
    text-decoration: none;
}
a:hover {
    color: #85bd2b;
    text-decoration: underline;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 600;
    line-height: 1;
    letter-spacing: -0.1em;
    padding: 0;
    margin: 0;
}
h1 {
    font-size: 3em;
}
h2 {
    font-size: 2em;
}
h3 {
    font-size: 1.2em;
}
h4 {
    font-size: 1;
}
h5 {
    font-size: 1;
    text-transform: uppercase;
}
.wrap {
    width: 67em;
    margin: 0;
    background-color: #333;
    overflow: hidden;
}
.one_third {
    width: 26.6%;
}
.two_third {
    width: 73.4%;
}
.pull-left {
    float: left;
    clear: left;
}
.pull-right {
    float: right;
    clear: right;
}
.inner {
    padding: 1.1em;
}
.main .inner {
    -moz-transition: padding 100ms linear;
    -webkit-transition: padding 100ms linear;
    transition: padding 100ms linear;
}
.sidebar {
    color: #bbb;
}
.sidebar a {
    color: #ddd;
}
.sidebar a:hover {
    color: #fff;
}
.sidebar .header {
    text-align: center;
    padding: 0 0.6em;
    margin: 3.3em 0 1.1em;
    position: relative;
    z-index: 0;
    font-size: 1em;
    -moz-transition: margin-top 100ms linear;
    -webkit-transition: margin-top 100ms linear;
    transition: margin-top 100ms linear;
}
.sidebar .header a {
    font-size: 1em;
    color: #fff;
    display: block;
    position: relative;
}
.photo-me {
    width: 10em;
    margin: 0 auto 2em;

    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;

    -moz-box-shadow: 0 0 1.3em rgba(0,0,0,0.3);
    -webkit-box-shadow: 0 0 1.3em rgba(0,0,0,0.3);
    box-shadow: 0 0 1.3em rgba(0,0,0,0.3);
}
.nav-buttons {
    position: relative;
    z-index: 1000;
    margin-bottom: 1.1em;
}
.nav-buttons ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
}
.nav-buttons li {
    float: left;
}
.site-nav li {
    margin-right: 0.55em;
}
.posts-nav li {
    margin-left: 0.55em;
}
.nav-buttons li:last-child {
    margin-right: 0;
    margin-left: 0;
}
.nav-buttons .navbtn {
    background: #fff;
    display: block;
    padding: 0.5em 0.85em;
    color: #333;
    font-weight: 600;
    font-size: 0.66em;
    font-family: Helvetica, Arial, sans-serif;
    -moz-transition: background-color 100ms linear;
    -webkit-transition: background-color 100ms linear;
    transition: background-color 100ms linear;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}
.nav-buttons .navbtn:hover {
    color: #444;
    background-color: #ddd;
    text-decoration: none;
}
.nav-buttons .navbtn:active {
    background-color: #bbb;
}
.navbtn.disabled {
    opacity: 0.5;
    cursor: not-allowed;
}
.about {
    clear: both;
}



.main {
    background: #fff;
    color: #333;
}
.main .inner {
    padding: 4em 8em;
}
.warning-message {
    background: #eee;
    color: #555;
    padding: 0.55em;
    max-width: 35em;
    margin-bottom: 1.1em;
    border: 0.1125em solid #cacaca;
    font-family: Helvetica, Arial, sans-serif;
}
.warning-message p {
    margin: 0;
    font-size: 0.66em;
}
.article {
    margin-bottom: 1.1em;
}
.article-heading {
    font-size: 2.2em;
    line-height: 1.2;
    margin: 0 0 0.66em;
}
.article-meta {
    margin: 0 0 0.66em;
    color: #b3b3b2;
}
.article-body img,
.article-body figure,
.article-body iframe {
    max-width: 100%;
    background: #fff;
    margin: 0;
    border: 0.1125em solid #ddd;
}
.article-body iframe {
    max-width: 55em;
    border: 0;
}
.article-body iframe {
    border: 0;
}
.article-body figure {
    line-height: 0;
    display: inline-block;
    margin-top: 1em;
}
.article-body figure img {
    margin: 0;
    border: 0;
    max-width: 100%;
}
.article-body figcaption {
    background: #eee;
    color: #333;
    margin: 0;
    padding: 0.45em;
    line-height: 1.2;
    font-size: 0.6em;
    text-align: right;
}
.article-body figcaption a {
    color: #333;
}
.article-body figcaption a:hover {
    color: #444;
}
.article-body blockquote {
    border-left: 0.45em solid #73a325;
    padding-left: 1.1em;
    margin: 1.1em 0;
    max-width: 55em;
    font-family: Georgia, Cambria, "Times New Roman", Times, serif;
    font-style: italic;
    color: #555;
}
.article-body > pre  {
    margin: 1.1em 0;
}
.article-body p code,
.article-body li code {
    background: #26292C;
    color: #F8F8F2;
    font-size: 0.78em;
    padding: 0.1125em 0.56em;
    margin: 0.1125em 0;
}

.article-body h2 {
    font-size: 1.3em;
    border-bottom: 0.1125em solid #dadada;
    padding-bottom: 0.56em;
    margin-bottom: 1em;
}
.article-body img.speaker {
    float: right;
    clear: right;
    margin: 1em 0 1em 1em;
    width: 5.5em;
}
.article-body h2 {
    font-size: 1.3em;
    border-bottom: 0.1125em solid #dadada;
    padding-bottom: 0.56em;
}
.article-body ul,
.article-body ol {
    margin: 1.1em;
    padding: 0;
}
.article-body ul ul {
    margin-top: 0;
    margin-bottom: 0;
}
.articl-body li {
    padding: 0;
    margin: 0 0 0.55em;
}
.article-body ul p,
.article-body ol p {
    margin: 0;
}
.article-body li:last-child {
    margin-bottom: 0;
}

.year-heading {
    text-align: right;
    padding: 0.55em;
    font-size: 1.1em;
    margin: 0 0 1.1em;
    border-bottom: 0.1125em solid #dadada;
}
.main .archive-item {
    color: #333;
    padding-bottom: 1.1em;
    margin-bottom: 2.2em;
    border-bottom: 0.1125em solid #fafafa;
    display: block;
}
.main .archive-item:hover {
    text-decoration: none;
}
.not-desktop {
    display: none;
}
.article-body .video-wrapper {
    position: relative;

    width: 100%;
    height: 0;
}

.article-body .video-wrapper > * {
    position: absolute;
    top: 0;
    left: 0;

    height: 100%;
    width: 100%;
}

/* aspect ratio classes */
.article-body .sd {
    padding-bottom: 75%;
}
.article-body .hd {
    padding-bottom: 56.25%;
}
.article-body .cinema {
    padding-bottom: 41.84%;
}

@media (max-width: 1200px) and (min-width: 1020px) {
    .wrap {
        width: 100%;
    }
    .sidebar {
        min-width: 270px;
    }
    .sidebar .header a {
        padding-left: 1.2em;
    }
}
@media (max-width: 1024px) {
    .not-desktop {
        display: block;
    }
    .wrap {
        width: 100%;
    }
    .sidebar {
        float: none;
        width: auto;
        max-width: 100%;
    }
    .sidebar .header {
        margin: 1em 0 0;
    }
    .nav-buttons {
        margin-bottom: 0;
    }
    .nav-buttons .navbtn {
        font-size: 0.8em;
    }
    .about {
        height: 0;
        overflow: hidden;
        position: relative;

        -moz-transition: height 100ms linear;
        -webkit-transition: height 100ms linear;
        transition: height 100ms linear;
    }
    .main {
        float: none;
        width: auto;
        max-width: 100%;
    }
    .main .inner {
        padding: 4em 6em;
    }
    .about:target {
        height: 400px;
    }
    .hide-about {
        position: absolute;
        bottom: 0;
        left: 0;
    }
}
@media (max-width: 800px) {
    .main .inner {
        padding: 2em;
    }
    .about:target {
        height: 600px;
    }
}
