body {
    background-color: #eee;
    background-image: url(img/tiny_grid.png);
    font-family: 'Open Sans',Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1;
    margin: 0;
    padding: 0;
    text-align: center;
}
a {
    color: #73a325;
    text-decoration: none;
}
#wrapper {
    background: #fefefe;
    color: #7a7a7a;
    margin: 85px auto 0;
    overflow: hidden;
    padding: 0;
    position: relative;
    text-align: left;
    width: 900px;

    -moz-box-shadow: 0 0 3px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0 0 3px rgba(0,0,0,0.2);
    box-shadow: 0 0 3px rgba(0,0,0,0.2);

    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;

    -moz-transition: box-shadow,margin 0.5s linear;
    -webkit-transition: box-shadow,margin 0.5s linear;
    transition: box-shadow,margin 0.5s linear;
}
#wrapper:hover {
    -moz-box-shadow: 0 0 15px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0 0 15px rgba(0,0,0,0.2);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
}
#header, #content, #footer {
    background: #fff;
    position: relative;
}
#header {
    padding: 40px 40px 40px;

    -moz-border-radius: 3px 3px 0 0;
    -webkit-border-radius: 3px 3px 0 0;
    border-radius: 3px 3px 0 0;
}
#content {
    padding: 0 40px;
}
#footer {
    background-image: url(img/dark_wall.png);
    background: #272727;
    color: #aaa;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 40px 30px;
    text-align: right;
    text-decoration: none;
    text-transform: uppercase;
}
aside {
    background-image: url(img/dark_wall.png);
    background: #272727;
    color: #999;
    left: 50%;
    margin-left: 230px;
    padding: 20px 0;
    position: fixed;
    top: 125px;
    width: 220px;
    z-index: 2;

    -moz-text-shadow: 0 1px 0 rgba(0,0,0,0.8);
    -webkit-text-shadow: 0 1px 0 rgba(0,0,0,0.8);
    text-shadow: 0 1px 0 rgba(0,0,0,0.8);

    -moz-box-shadow: 0 0 30px rgba(0,0,0,0.2), inset 0 0 30px rgba(0,0,0,0.8);
    -webkit-box-shadow: 0 0 30px rgba(0,0,0,0.2), inset 0 0 30px rgba(0,0,0,0.8);
    box-shadow: 0 0 30px rgba(0,0,0,0.2), inset 0 0 30px rgba(0,0,0,0.8);

    -moz-border-radius: 4px 0 0 4px;
    -webkit-border-radius: 4px 0 0 4px;
    border-radius: 4px 0 0 4px;
}
aside h1 {
    color: #fff;
    font-family: 'Bree Serif', serif;
    font-size: 51px;
    font-weight: 400;
    margin: 0;
    padding: 0 20px 10px;
    text-transform: uppercase;
}
aside h1 a {
    color: #fff;
}
aside p {
    padding: 0 20px 1em;
    margin: 0;
    font-size: 12px;
    line-height: 1.2;
    text-align: justify;
}
aside p em {
    text-transform: uppercase;
    font-weight: bold;
}
aside ul {
    margin: 0;
}
aside li {
    font-size: 12px;
    line-height: 1.2;
}
nav {
    display: block;
    position: relative;
}
nav > ul {
    display: block;
    list-style-type: none;
    padding: 0;
    margin: 0;
}
nav > ul > li {
    display: inline-block;
    list-style-type: none;
    padding: 0 10px 0 0;
    margin: 0;
}
nav a {
    color: #999;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;
}
nav .active a {
    color: #000;
}
#content article {
    margin-right: 220px;
    margin-bottom: 40px;
    min-height: 600px;
}
#disqus_thread {
    margin-right: 220px;
}
article p, article ul, article li {
    font-size: 16px;
    line-height: 1.3;
}
article header,
.archive header {
    font-family: 'Bree Serif', serif;
    color: #fff;
    background: #272727;
    background-image: url(img/dark_wall.png);
    position: relative;
    margin-left: -40px;
    line-height: 1;

    -moz-text-shadow: 0 1px 0 rgba(0,0,0,0.8);
    -webkit-text-shadow: 0 1px 0 rgba(0,0,0,0.8);
    text-shadow: 0 1px 0 rgba(0,0,0,0.8);

    -moz-box-shadow: 0 0 30px rgba(0,0,0,0.2), inset 0 0 30px rgba(0,0,0,0.8);
    -webkit-box-shadow: 0 0 30px rgba(0,0,0,0.2), inset 0 0 30px rgba(0,0,0,0.8);
    box-shadow: 0 0 30px rgba(0,0,0,0.2), inset 0 0 30px rgba(0,0,0,0.8);

    -moz-border-radius: 0 4px 4px 0;
    -webkit-border-radius: 0 4px 4px 0;
    border-radius: 0 4px 4px 0;
}
article header a {
    color: #fff;
    display: block;
}
article h2,
article h3 {
    font-size: 16px;
    color: #555;
    padding: 0;
    margin: 0;
}
article header h2 {
    font-size: 34px;
    font-weight: normal;
    padding: 20px 40px 0;
    margin: 0;
    color: #fff;
}
.archive h2 {
    font-size: 18px;
    line-height: 1;
    padding: 10px 40px 0;
    margin: 0;
    display: block;
}
.archive time {
    padding: 5px 40px 10px;
    display: block;
    font-size: 14px;
    color: #aaa;
}
.archive p {
    color: #7a7a7a;
}
article time {
    margin: 0;
    padding: 10px 40px 20px;
    display: block;
    font-size: 16px;
    color: #aaa;
}
article img,
article .youtube {
    margin: 20px auto;
    max-width: 100%;
    clear: both;
    display: block;
}
article .youtube {
    width: 100%;
    height: 335px;
}
code,
blockquote.code {
    color: #fff;
    background: #272727;
    background-image: url(img/dark_wall.png);
    padding: 1px 5px;
    font-size: 12px;
    font-family: 'Bitstream Vera Sans Mono', 'Courier', monospace;
    vertical-align: middle;
}
blockquote.code p,
blockquote.code li {
    font-size: 12px;
    font-family: 'Bitstream Vera Sans Mono', 'Courier', monospace;
    margin: 0;
}
pre code,
blockquote.code {
    padding: 10px;
    display: block;

    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.2);
    box-shadow: 0 1px 3px rgba(0,0,0,0.2);
}

.pagination {
    width: 900px;
}
.pagination ul {
    width: 900px;
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
}
.pagination ul li {
    height: 100px;
    width: 100px;
    z-index: 1000;
    position: fixed;
    left: 50%;
    top: 50%;
    margin-top: -50px;
    background-position: -10px -10px;
    background-repeat: no-repeat;
}
.pagination ul li.prev {
    margin-left: -530px;
    background-image: url(img/arrow_left.png);
}
.pagination ul li.prev.disabled {
    background-image: url(img/arrow_left_disabled.png);
}
.pagination ul li.next {
    margin-left: 450px;
    background-image: url(img/arrow_right.png);
}
.pagination ul li.next.disabled {
    background-image: url(img/arrow_right_disabled.png);
}
.pagination ul li a {
    display: block;
    height: 80px;
    width: 80px;
    overflow: hidden;
    text-indent: -999em;
}
ul.archive {
    margin: 0 220px 0 0;
    padding: 0;
    list-style: none;
}
.archive li {
    margin: 0 0 40px;
    padding: 0;
}
.archive p {
    font-size: 14px;
}
.about-trigger {
    display: none;
}
@media all and (max-width: 960px) {
    .pagination ul li{
        left: 0;
        margin: 0;
    }
    .pagination ul li.prev {
        margin-left: -20px;
    }
    .pagination ul li.next {
        right: 0;
        left: auto;
        margin-right: -40px;
    }
}
@media all and (max-width: 960px) {
    #wrapper {
        width: 100%;
        margin: 0;
    }
    #content article,
    ul.archive {
        margin-right: 0;
    }
    nav .about-trigger {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        vertical-align: top;
        line-height: 0;
        height: 20px;
        width: 20px;
        text-align: center;

        -moz-transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
    }
    aside .about-trigger {
        top: 40px;
        right: 40px;
        font-size: 20px;
        letter-spacing: 1px;
        font-weight: bold;
        display: block;
        position: absolute;
    }
    aside {
        width: 100%;
        position: absolute;
        right: auto;
        top: -100%;
        left: 0;
        margin: 0;
        background: rgba(0,0,0,0.9);
        padding: 40px 0;

        -moz-border-radius: 0;
        -webkit-border-radius: 0;
        border-radius: 0;

        -moz-box-shadow: 0 0 10px rgba(0,0,0,0.9);
        -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.9);
        box-shadow: 0 0 10px rgba(0,0,0,0.9);
    }
    aside h1,
    aside p,
    aside ul {
        margin-left: 20px;
    }
    aside#about.is-in-viewport {
        top: 0;
    }
    #footer {
        text-align: center;
    }
}