@font-face {
    font-family: 'lavanderia_regular';
    src:    url('fonts/lavanderia_regular-webfont.eot');
    src:    url('fonts/lavanderia_regular-webfont.eot?#iefix') 
            format('embedded-opentype'),
            
            url('fonts/lavanderia_regular-webfont.woff') 
            format('woff'),

            url('fonts/lavanderia_regular-webfont.ttf') 
            format('truetype'),

            url('fonts/lavanderia_regular-webfont.svg#lavanderia_regular') 
            format('svg');

    font-weight: normal;
    font-style: normal;
}
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
a, a:link {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
a:visited {
    text-decoration: line-through;
}
html,
body,
.container {
    margin: 0;
    padding: 0;
}
.container {
    height: 100%;
    overflow: hidden;
}
body {
    text-rendering: optimizeLegibility;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-weight: 300;
    color: #333332;
    font-size: 15px;
    line-height: 1.4;
    background-color: #333;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0 0 24px;
    padding: 0;
    font-weight: 600;
    font-size: 1em;
    font-family: 'Ubuntu', 'Open Sans', Helvetica, Arial, sans-serif;
}
.sidebar-heading {
    font-size: 100px;
    font-family: 'lavanderia_regular';
    text-transform: lowercase;
    font-weight: 400;
    text-align: center;
    text-shadow: 0 0 25px rgba(0,0,0,0.5), 0 1px #bbb, 0 2px #bbb, 0 3px #bbb, 0 4px #bbb;

    -moz-transform: rotate(-5deg);
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg);
}
.sidebar-heading .photo-me {
    margin-bottom: -15px;
    width: 90px;
    height: 90px;
    background: #333;
    
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;

    opacity:0;
    -moz-transition: opacity 100ms linear;
    -webkit-transition: opacity 100ms linear;
    transition: opacity 100ms linear;
}
.sidebar-content .sidebar-heading a {
    color: #fff;
    cursor: pointer;
}
.sidebar-content .sidebar-heading a:hover,
.sidebar-content .sidebar-heading a:active {
    text-decoration: none;
}
.container-viewport {
    margin-top: 60px;
    width: 1020px;
    background-color: #333;
}
.viewport-content {
    background-color: #fff;
    margin-left: 360px;
    -webkit-overflow-scrolling: touch;
}
.sidebar-cover {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    width: 360px;
    height: 100%;
    background-color: #333;
    color: #fff;
}
.sidebar-content {
    position: absolute;
    top: 0;
    padding: 50px 20px 10%;
    max-width: 100%;
}
.sidebar-content a {
    color: #bbb;
}
.sidebar-content a:hover {
    color: #fff;
}
.main-nav {
    font-weight: bold;
    margin: 0;
    overflow: hidden;
    padding-bottom: 4px;
}
.main-nav .navbtn {
    color: #333;
    display: block;
    padding: 5px 10px;
    background-color: #fff;
    margin: 0 10px 0 0;
    float: left;

    border-bottom: 4px solid #bbb;

    -moz-transition: background-color 100ms linear;
    -webkit-transition: background-color 100ms linear;
    transition: background-color 100ms linear;
}
.main-nav .navbtn:last-child {
    margin-right: 0;
}
.main-nav .navbtn:hover {
    color: #444;
    background-color: #ddd;
    text-decoration: none;
    
    border-top: 2px solid #333;
    border-bottom: 2px solid #999;
}
.main-nav .navbtn:active {
    background-color: #bbb;
    border-top: 4px solid #333;
    border-bottom: 0;
}
.main-nav .navbtn.disabled {
    opacity: 0.4;
}
.prev-next {
    float: right;
}


.viewport-wrapper {
    padding: 30px 30px;
    max-width: 660px;
    background-color: #fff;
    position: relative;
    z-index: 0;
}
.article {
    margin-bottom: 48px;
}
.warning-message {
    background: #eee;
    color: #555;
    padding: 10px;
    max-width: 620px;
    margin-bottom: 20px;
    border: 1px solid #cacaca;
}
.warning-message p {
    margin: 0;
    font-size: 12px;
}
.article-heading {
    font-size: 32px;
    margin: 0;
    max-width: 600px;
}
.article-meta {
    margin-bottom: 12px;
    color: #b3b3b1;
}
.article-body {
    color: #333332;
    width: 600px;
}
.article-body img,
.article-body iframe {
    padding: 2px;
}
.article-body img,
.article-body figure,
.article-body iframe {
    max-width: 598px;
    background: #fff;
    margin: 0;
    border: 1px solid #ddd;
}
.article-body iframe {
    max-width: 600px;
    border: 0;
}
.article-body iframe {
    border: 0;
}
.article-body figure {
    margin-bottom: 20px;
    line-height: 0;
    display: inline-block;
}
.article-body figure img {
    margin: 0;
    border: 0;
    max-width: 100%;
}
.article-body figcaption {
    background: #fff;
    color: #333;
    margin: 0;
    padding: 2px 4px 4px;
    line-height: 1.2;
    font-size: 11px;
}
.article-body figcaption a {
    color: #333;
}
.article-body figcaption a:hover {
    color: #444;
}

.article-body h2 {
    font-size: 24px;
    border-bottom: 1px solid #dadada;
    padding-bottom: 5px;
}
.article-body h3 {
    font-size: 18px;
}
.article-body h4 {
    font-size: 1em;
}
.article-body h5 {
    font-size: 1em;
    text-transform: uppercase;
}
.article-body h6 {
    font-size: 1em;
    color: #666;
}


.article-body img.speaker {
    float: right;
    clear: right;
    margin: 0 0 24px 24px;
    width: 60px;
}
.article-body blockquote {
    border-left: 4px solid #73a325;
    padding-left: 20px;
    margin: 20px 0;
    max-width: 600px;
    font-family: Georgia, Cambria, "Times New Roman", Times, serif;
    font-style: italic;
    color: #555;
}
.article-body > pre  {
    margin: 20px 0;
}
.article-body p code,
.article-body li code {
    background: #26292C;
    color: #F8F8F2;
    font-size: 14px;
    padding: 1px 5px;
    margin: 1px 0;
}


.article a {
    color: #73a325;
}
.article a:hover {
    color: #85bd2b;
}
.archive .article {
    max-width: 600px;
    border-bottom: 1px solid #dadada;
    padding-bottom: 40px;
}
.archive .article > a,
.article > a.article-heading-link {
    text-decoration: none;
    color: inherit;
}
a .article-heading {
    -moz-transition: color 100ms linear;
    -webkit-transition: color 100ms linear;
    transition: color 100ms linear;
}
a:hover .article-heading {
    color: #73a325;
}
.year-heading {
    text-align: right;
    width: 600px;
    padding: 10px;
    background: #333;
    color: #fff;
}

#disqus_thread {
    width: 600px;
}




/* Smartphones (portrait and landscape) ----------- */
@media only screen and (max-device-width : 800px) {
    .container {
        overflow: visible;
    }
    .sidebar-cover {
        position: static;
        width: 100%;
        height: 200px;
    }
    .viewport-content {
        margin: 0;
    }
    .container-viewport {
        width: 100%;
    }
    .viewport-wrapper {
        width: 100%;
    }
    .article-heading,
    .article-body,
    .year-heading,
    #disqus_thread {
        width: 100%;
    }
    .article-body img,
    .article-body figure,
    .article-body iframe {
        max-width: 100%;
        margin: 1em 0;
    }

    .main-nav .navbtn {
        background: #ddd;
    }
    .main-nav .navbtn.active {
        background: #fff;
    }
}
