/* core */
*{
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
}
body {
    margin:0;
    padding:0;
    background:#fff;
    font-weight: 400;
    font-size: 22px;
    line-height:1.5;
    font-family: Georgia, Times, "Times New Roman", serif;

    -webkit-font-smoothing: antialiased;
}
a, a:link, a:visited {
    color:#6792a6;
    text-decoration:none;
}
a:hover {
    color:#86bfd9;
    text-decoration:underline;
}
h1, h2, h3, h4, h5, h6 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
    letter-spacing: -0.04em;
    line-height:1.1em;
    margin:1em 0;
    padding:0;
}
h1 {
    font-size:3.4em;
}
h2 {
    font-size:2em;
    margin: .5em 0;
}
h3 {
    font-size:1.3em;
}
h4 {
    font-size:1em;
}
h5 {
    font-size:1em;
    text-transform:uppercase;
}
/* layout */
.wrap {
    margin:0 auto;
    overflow:hidden;
}
.pull-left {
    float:left;
    clear:left;
}
.pull-right {
    float:right;
    clear:right;
}
.main {
    background:#fff;
    color:#333;
    min-height:100%;
    width:60em;
    max-width: 100%;
    margin: 4em auto 0;
}
.inner {
    padding:1.1em;
}
.navigation-bar .inner {
    padding: 0;
    margin: 1.1em;
    overflow: hidden;
}
.main .inner {
    padding:4em 8em;
}
/* navigation */
.navigation-bar {
    color:#bbb;
    background-color:#333;
    overflow: hidden;
    position: absolute;
    z-index: 1000;
    left: 0;
    right: 0;
    top: 0;
}
.nav-buttons {
    position:relative;
    z-index:1000;
    font-family: Helvetica, Arial, "Lucida Grande", sans-serif;
}
.nav-buttons ul {
    margin:0;
    padding:0;
    list-style:none;
    overflow:hidden;
}
.nav-buttons li {
    float:left;
}
.site-nav li {
    margin-right:0.55em;
}
.posts-nav li {
    margin-left:0.55em;
}
.nav-buttons .navbtn {
    background:#fff;
    display:block;
    padding:0.5em 0.85em;
    color:#333;
    font-weight:600;
    font-size:0.5em;
    -moz-transition:background-color 100ms linear;
    -webkit-transition:background-color 100ms linear;
    transition:background-color 100ms linear;
    -webkit-touch-callout:none;
    -webkit-user-select:none;
    -moz-user-select:none;
    user-select:none;
}
.nav-buttons .navbtn:hover {
    color:#444;
    background-color:#ddd;
    text-decoration:none;
}
.nav-buttons .navbtn:active {
    background-color:#bbb;
}
.navbtn.disabled {
    opacity:0.5;
    cursor:not-allowed;
}
/* article */
.warning-message {
    background:#eaeaea;
    color:#555;
    padding:0.55em 0.55em 0;
    max-width:100%;
    display: block;
    margin-bottom:1.1em;
    border:0.1125em solid #e6e6e6;
}
.warning-message p {
    margin:0 0 0.55em;
    font-size:0.66em;
}
.article-heading {
    font-size: 2em;
    color: #333;
    margin: .5em 0;
}
.article-heading a {
    color: #333;
}
.article {
    margin-bottom:1.1em;
}
.article-meta {
    margin:0 0 0.66em;
    color:#b3b3b2;
}
.article-body img,
.article-body figure,
.article-body iframe {
    background:#eee;
    text-align: center;
    display: block;
    max-width: 80%;
    margin: 0 auto;
}

.article-body img {
    background: transparent;
}
.article-body iframe {
    max-width:55em;
    border:0;
    margin: 0;
}
.article-body iframe {
    border:0;
}
.article-body figure {
    line-height:0;
    margin-top:1em;
}
.article-body figure img {
    margin:0 auto;
    border:0;
    max-width:100%;
}
.article-body figcaption {
    background:#eee;
    color:#333;
    margin:0;
    padding:0.45em;
    line-height:1.2;
    font-size:0.6em;
    text-align:right;
}
.article-body figcaption a {
    color:#333;
}
.article-body figcaption a:hover {
    color:#444;
}
.article-body blockquote {
    border-left:0.45em solid #73a325;
    padding-left:1.1em;
    margin:1.1em 0;
    max-width:55em;
    font-style:italic;
    color:#555;
}
.article-body h2 {
    font-size:1.3em;
    line-height:1.2;
    letter-spacing:0;
    border-bottom:0.1125em solid #dadada;
    padding-bottom:0.56em;
}
.article-body img.speaker {
    float:right;
    clear:right;
    margin:1em 0 1em 1em;
    width:5.5em;
}
.article-body h2 {
    font-size:1.3em;
    border-bottom:0.1125em solid #fafafa;
    padding-bottom:0.56em;
}
.article-body ul,
.article-body ol {
    margin:1.1em;
    padding:0;
}
.article-body ul ul {
    margin-top:0;
    margin-bottom:0;
}
.articl-body li {
    padding:0;
    margin:0 0 0.55em;
}
.article-body ul p,
.article-body ol p {
    margin:0;
}
.article-body li:last-child {
    margin-bottom:0;
}
.article-body .video-wrapper {
    position:relative;
    width:100%;
    height:0;
}
.article-body .video-wrapper > * {
    position:absolute;
    top:0;
    left:0;
    height:100%;
    width:100%;
}
.article-body .sd {
    padding-bottom:75%;
}
.article-body .hd {
    padding-bottom:56.25%;
}
.article-body .cinema {
    padding-bottom:41.84%;
}
.article-body hr {
    border: 0;
    height: .1em;
    width: 80%;
    margin: 2em auto;
    background-color: #eaeaea;
}
/* code */
.highlight {
    margin:1.1em -8em;
    padding: .2em 8em;
    overflow: hidden;
}
p code, li code, .highlight {
    background: #1e0010;
    color: #aaa;
}
p code, li code {
    display: inline-block;
    padding: 0 0.25em 0.175em;
    line-height: 1;
}
.highlight:hover {
    overflow: hidden;
    overflow-x: auto;
}
.highlight .lineno {
    color: #555;
}
.highlight .hll {
    background-color: #49483e
}
.highlight .c {
    color: #75715e
}
.highlight .err {
    color: #960050;
    background-color: #1e0010
}
.highlight .k {
    color: #66d9ef
}
.highlight .l {
    color: #ae81ff
}
.highlight .n {
    color: #f8f8f2
}
.highlight .o {
    color: #f92672
}
.highlight .p {
    color: #f8f8f2
}
.highlight .cm {
    color: #75715e
}
.highlight .cp {
    color: #75715e
}
.highlight .c1 {
    color: #75715e
}
.highlight .cs {
    color: #75715e
}
.highlight .ge {
    font-style: italic
}
.highlight .gs {
    font-weight: bold
}
.highlight .kc {
    color: #66d9ef
}
.highlight .kd {
    color: #66d9ef
}
.highlight .kn {
    color: #f92672
}
.highlight .kp {
    color: #66d9ef
}
.highlight .kr {
    color: #66d9ef
}
.highlight .kt {
    color: #66d9ef
}
.highlight .ld {
    color: #e6db74
}
.highlight .m {
    color: #ae81ff
}
.highlight .s {
    color: #e6db74
}
.highlight .na {
    color: #a6e22e
}
.highlight .nb {
    color: #f8f8f2
}
.highlight .nc {
    color: #a6e22e
}
.highlight .no {
    color: #66d9ef
}
.highlight .nd {
    color: #a6e22e
}
.highlight .ni {
    color: #f8f8f2
}
.highlight .ne {
    color: #a6e22e
}
.highlight .nf {
    color: #a6e22e
}
.highlight .nl {
    color: #f8f8f2
}
.highlight .nn {
    color: #f8f8f2
}
.highlight .nx {
    color: #a6e22e
}
.highlight .py {
    color: #f8f8f2
}
.highlight .nt {
    color: #f92672
}
.highlight .nv {
    color: #f8f8f2
}
.highlight .ow {
    color: #f92672
}
.highlight .w {
    color: #f8f8f2
}
.highlight .mf {
    color: #ae81ff
}
.highlight .mh {
    color: #ae81ff
}
.highlight .mi {
    color: #ae81ff
}
.highlight .mo {
    color: #ae81ff
}
.highlight .sb {
    color: #e6db74
}
.highlight .sc {
    color: #e6db74
}
.highlight .sd {
    color: #e6db74
}
.highlight .s2 {
    color: #e6db74
}
.highlight .se {
    color: #ae81ff
}
.highlight .sh {
    color: #e6db74
}
.highlight .si {
    color: #e6db74
}
.highlight .sx {
    color: #e6db74
}
.highlight .sr {
    color: #e6db74
}
.highlight .s1 {
    color: #e6db74
}
.highlight .ss {
    color: #e6db74
}
.highlight .bp {
    color: #f8f8f2
}
.highlight .vc {
    color: #f8f8f2
}
.highlight .vg {
    color: #f8f8f2
}
.highlight .vi {
    color: #f8f8f2
}
.highlight .il {
    color: #ae81ff
}
/* archive */
.post-archive {
    padding: 0;
    margin: 0;
    list-style: none;
}
.post-archive-item {
    overflow: hidden;
    padding: 0;
    margin: 0 0 1em;
}
.post-archive-item a {
    display: block;
    position: relative;
}
.post-archive-item .title {
    float: left;
    padding-right: 5em;
}
.post-archive-item .date {
    position: absolute;
    right: 0;
    top: 0;
    color: #999;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: .6em;
}
/* responsive */
@media (max-width:1200px) {
    .main {
        width:auto;
        max-width:100%;
    }
    .main .inner {
        padding:4em 6em;
    }
    .highlight {
        margin: 1.1em -6em;
        padding: .2em 6em;
    }
}
@media (max-width:800px) {
    body {
        font-size: 16px;
    }
    h1, .article-heading {
        font-size: 1.8em;
    }
    h2 {
        font-size: 1.6em;
    }
    h3 {
        font-size: 1.4em;
    }
    h4, h5 {
        font-size: 1.2em;
    }
    .main .inner {
        padding:2em;
    }
    .highlight {
        margin: 1.1em -2em;
        padding: .2em 2em;
    }
}
