body {
    background-color: #eee;
    background-image: url(img/tiny_grid.png);
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1;
    margin: 0;
    padding: 0;
    text-align: center;
}
a {
    color: #73a325;
    text-decoration: none;
}
#wrapper {
    background: #fefefe;
    color: #7a7a7a;
    margin: 20px auto 0;
    padding: 0;
    position: relative;
    text-align: left;
    width: 900px;

    -moz-box-shadow: 0 15px 60px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 15px 60px rgba(0,0,0,0.5);
    box-shadow: 0 15px 60px rgba(0,0,0,0.5);

    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;

    -moz-transition: margin 0.2s linear;
    -webkit-transition: margin 0.2s linear;
    transition: margin 0.2s linear;
}
#header, #content, #footer {
    background: #fff;
    position: relative;
}
#header {
    padding: 40px 40px 40px;

    -moz-border-radius: 3px 3px 0 0;
    -webkit-border-radius: 3px 3px 0 0;
    border-radius: 3px 3px 0 0;
}
#content {
    padding: 0 40px;
}
#footer {
    background: #eee;
    border-top: 1px solid #cacaca;
    color: #666;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 20px 40px;
    text-align: right;
    text-decoration: none;
    text-transform: uppercase;
}
aside {
    background-image: url(img/dark_wall.png);
    background-color: #272727;
    color: #999;
    left: 50%;
    margin-left: 230px;
    padding: 20px 0;
    position: absolute;
    top: 40px;
    width: 220px;
    z-index: 2;

    -moz-text-shadow: 0 1px 0 rgba(0,0,0,0.8);
    -webkit-text-shadow: 0 1px 0 rgba(0,0,0,0.8);
    text-shadow: 0 1px 0 rgba(0,0,0,0.8);

    -moz-border-radius: 4px 0 0 4px;
    -webkit-border-radius: 4px 0 0 4px;
    border-radius: 4px 0 0 4px;
}
aside a img {
    margin: 0 30px;

    -moz-filter: grayscale(1);
    -webkit-filter: grayscale(1);
    filter: grayscale(1);

    -moz-transition: -moz-filter 200ms linear;
    -webkit-transition: -webkit-filter 200ms linear;
    transition: filter 200ms linear;

    -moz-border-radius: 90px;
    -webkit-border-radius: 90px;
    border-radius: 90px;

    -moz-box-shadow: 0 0 10px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.5);
    box-shadow: 0 0 10px rgba(0,0,0,0.5);

}
aside:hover a img {
    -moz-filter: grayscale(0);
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
}
aside h1 {
    color: #fff;
    font-family: 'Bree Serif', serif;
    font-size: 51px;
    font-weight: 400;
    margin: 0;
    padding: 0 20px 10px;
    text-transform: uppercase;
}
aside a h1 {
    color: #fff;
}
aside p {
    padding: 0 20px 1em;
    margin: 0;
    font-size: 12px;
    line-height: 1.2;
    text-align: justify;
}
aside p em {
    text-transform: uppercase;
    font-weight: bold;
}
aside ul {
    margin: 0;
}
aside li {
    font-size: 12px;
    line-height: 1.2;
}
nav {
    display: block;
    position: relative;
}
nav > ul {
    display: block;
    list-style-type: none;
    padding: 0;
    margin: 0;
}
nav > ul > li {
    display: inline-block;
    list-style-type: none;
    padding: 0 10px 0 0;
    margin: 0;
}
nav a {
    color: #999;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;
}
nav .active a {
    color: #000;
}
#content article {
    margin-right: 220px;
    margin-bottom: 40px;
    min-height: 600px;
}
#disqus_thread {
    margin-right: 220px;
}
article p, article ul, article li {
    font-size: 16px;
    line-height: 1.3;
}
article header,
.archive header {
    font-family: 'Bree Serif', serif;
    color: #272727;
    position: relative;
    line-height: 1;
    padding-bottom: 20px;
}
article header a
.archive header a {
    color: #73a325;
    display: block;
}
article h2,
article h3 {
    font-size: 24px;
    font-weight: normal;
    padding: 0;
    margin: 0;
}
.archive h2 {
    display: block;
    font-weight: normal;
    padding: 0;
    margin: 0;
}
.archive time {
    padding: 10px 0 0;
    display: block;
    font-size: 14px;
    color: #aaa;
}
.archive p {
    color: #7a7a7a;
    font-size: 16px;
    line-height: 1.3;
}
article time {
    margin: 0;
    padding: 10px 0 0;
    display: block;
    font-size: 14px;
    color: #aaa;
}
article img,
article .youtube {
    margin: 20px auto;
    max-width: 100%;
    clear: both;
    display: block;
    border: 0;
}
article .youtube {
    width: 100%;
    height: 335px;
}
code,
blockquote.code {
    color: #444;
    background: #efefef;
    padding: 2px 5px;
    font-size: 12px;
    font-family: 'Bitstream Vera Sans Mono', 'Courier', monospace;
    vertical-align: middle;
    word-wrap: break-word;
}
blockquote.code p,
blockquote.code li {
    font-size: 12px;
    font-family: 'Bitstream Vera Sans Mono', 'Courier', monospace;
    margin: 0;
}
pre code,
blockquote.code {
    padding: 10px;
    display: block;

    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.2);
    box-shadow: 0 1px 3px rgba(0,0,0,0.2);
}
ul.archive {
    margin: 0 220px 0 0;
    padding: 0;
    list-style: none;
}
.archive li {
    margin: 0 0 40px;
    padding: 0;
}
.about-trigger {
    display: none;
}
@media all and (max-width: 960px) {
    #wrapper {
        width: 100%;
        margin: 0;
    }
    #content article,
    ul.archive {
        margin-right: 0;
    }
    nav .about-trigger {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        vertical-align: top;
        line-height: 0;
        height: 20px;
        width: 20px;
        text-align: center;

        -moz-transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
    }
    aside .about-trigger {
        top: 40px;
        right: 40px;
        font-size: 20px;
        letter-spacing: 1px;
        font-weight: bold;
        display: block;
        position: absolute;
    }
    aside {
        width: 100%;
        position: absolute;
        right: auto;
        top: -100%;
        left: 0;
        right: 0;
        margin: 0;
        background: rgba(0,0,0,0.9);
        padding: 40px 0;

        -moz-border-radius: 0;
        -webkit-border-radius: 0;
        border-radius: 0;

        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    aside h1,
    aside p,
    aside ul {
        margin-left: 20px;
    }
    aside a img {
        margin: 0 40px 20px 20px;
        float: right;
    }
    aside.is-in-viewport {
        top: 0;
    }
    #footer {
        text-align: center;
    }
    #disqus_thread {
        margin: 0;
    }
}
@media all and (max-width: 480px) {
    aside a img {
        float: none;
        width: 160px;
        margin: 0 auto 20px;
        display: block;
    }
    #disqus_thread {
        margin: 0;
    }
}