---
title: Cardboctober
permalink: /cardboctober/
---
{% assign project = site.data.projects | where:"title",page.title | first %}
{{ project.description | markdownify}}

{% if project.img %}<div class="img-grid count-{{project.img | size }}">{% for img in project.img %}{% include posts/figure.html src=img class="center" %}{% endfor %}</div>{% endif %}
{% include global/wide-h3.html text="Cardboctober posts" %}
<ul class="post-list">
  {% for post in site.cardboctober  %}
  {% include global/post-list-item.html hide_dates=false hide_types=true %}
  {% endfor %}
</ul>
