---
title: VR Stuff
permalink: /vr/
excerpt: Max Glenister has been immersing himself in Virtual Reality (VR) since 2015, building a comprehensive understanding of VR user experience (UX) and delivering insightful presentations on developing VR experiences with web technologies.
ogimage: /images/vr/ogimage-vrstuff.png
---

{% include posts/figure.html src="max.jpg" class="center circle" %}

<p>
  Since 2015, I have been actively involved in the field of Virtual Reality, honing my skills in VR development and <a href="https://www.uxofvr.com">VR UX curation</a>.</p>
  
<p>
  Through my extensive experience, I have delivered a series of compelling talks on developing VR experiences using web technologies, as well as my personal achievement of <a href="{{"/cardboctober" | absolute_url}}">creating a new VR project every day for an entire month</a>.</p>
<p>
  With a passion for exploring the frontiers of VR, I continue to push the boundaries of what's possible in this exciting and rapidly-evolving field.
</p>
{% include global/wide-h3.html text="Current Setup" %}
<p>I'm currently using an Oculus Quest. While the headset itself isn't very powerful for running games or other experiences on the device, I've found that it works well when tethered to my PC. This allows me to run PC-based virtual reality experiences using the Quest headset.</p>
<p>Other than that, I haven't changed much since I <a href="{{"/post/the-inevitable-oculus-quest-post/" | absolute_url}}">wrote about my Oculus Quest</a>.</p>

{% include global/wide-h3.html text="Talks" %}
<ul class="thumbnail-list">
  {% assign vr_talks = site.data.vr.talks | sort:"date" %}
  {% for talk in vr_talks %}
    <li>
      {% include posts/figure.html src=talk.img class="center" %}
      <h4>{{ talk.title }}</h4>
      <p>{{ talk.summary }}</p>
      <div class="btns">
        <a href="{{ talk.slides }}" class="btn">View Slides</a>
        <a href="{{ talk.source }}" class="btn">View Source</a>
        {% if talk.writeup %}
        <a href="{{ talk.writeup }}" class="btn">Read more</a>
        {% endif %}
      </div>
    </li>
  {% endfor %}
</ul>

{% include global/wide-h3.html text="Projects" %}
<ul class="thumbnail-list">
  {% assign vr_projects = site.data.projects | where:"vr","true" %}
  {% for project in vr_projects %}
    <li>
      {% if project.img %}<div class="img-grid count-{{project.img | size }}">{% for img in project.img %}{% assign _img = img | absolute_url %}{% include posts/figure.html src=_img class="center" %}{% endfor %}</div>{% endif %}
      {% if project.embed %}<figure class="iframe">{{ project.embed }}</figure>{% endif %}
      <h4>{{ project.title }}</h4>
      <p>{{ project.description }}</p>
      <div class="btns">
        <a href="{{ project.link }}" class="btn">View Project</a>
        {% if project.writeup %}
        <a href="{{ project.writeup }}" class="btn">Read more</a>
        {% endif %}
      </div>
    </li>
  {% endfor %}
</ul>

{% include global/wide-h3.html text="Posts" %}
<ul class="post-list">
  {% assign vr_posts = site.posts | where_exp:"post","post.tags contains 'vr'" %}
  {% for post in vr_posts %}
  {% include global/post-list-item.html hide_dates=true %}
  {% endfor %}
</ul>

{% include global/wide-h3.html text="Cardboctober posts" %}
<ul class="post-list">
  {% for post in site.cardboctober  %}
  {% include global/post-list-item.html hide_dates=false hide_types=true %}
  {% endfor %}
</ul>
