<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {% capture page_url %}{% if page.url == '/index.html' %}{{ site.url }}{% else %}{{ page.url | absolute_url }}{% endif %}{% endcapture %}
  {% capture title %}{% if page.title %}{{ page.title }} — {% endif %}{{ site.title }}{% endcapture %}
  {% capture description %}{% if page.excerpt %}{{ page.excerpt | strip_html | strip }}{% else %}{{ site.data.author.bio }}{% endif %}{% endcapture %}
  
  <title>{{ title }}</title>
  <meta name="description" content="{{ description }}">
  
  <meta property="og:title" content="{{ title }}">
  <meta property="og:description" content="{{ description }}">
  <meta property="og:type" content="{{ page.content_type | default:'website'}}">
  <meta property="og:url" content="{{ page_url }}">
  <meta property="og:image" content="{{ page.ogimage | default:"/assets/ogimage-generic.png" | absolute_url}}">
  <meta property="og:image:width" content="1200">
  <meta property="og:image:height" content="630">

  <meta name="fediverse:creator" content="@omgmog@indieweb.social">

  <link rel="canonical" href="{{ page_url }}">
  <link rel="webmention" href="https://webmention.io/omgmog.net/webmention" />
  <link rel="pingback" href="https://webmention.io/omgmog.net/xmlrpc" />

  <link rel="icon" type="image/png" href="{{ site.data.author.avatar }}">
  <link rel="stylesheet" href="{{ "/assets/style.css" | relative_url }}{% if site.github %}?{{site.github.build_revision}}{% endif %}">

  <link rel="alternate" type="application/atom+xml" title="{{ site.title }} Feed" href="{{ "/feed.xml" | absolute_url }}">
  {% if page.alternates %}
    {% for alternate in page.alternates %}
      <link rel="alternate" type="{{ alternate.type }}" title="{{ alternate.title }}" href="{{ alternate.href }}">
    {% endfor %}
  {% endif %}
</head>
<body>
  <header class="main-header">
    <div class="inner">
      <h1><a href="{{ site.data.author.home }}"><img src="{{"/assets/mog.svg"|relative_url}}" alt="A vectorized pixel-art picture of Max Glenister" /> Max Glenister</a></h1>
      <nav>
        {% for node in site.data.menu %}
          {% capture is_blog_index_or_article %}{% if node.link == "/index.html" %}{% if page.url == "/" or page.url == "/archive/" or page.content_type == "article" %}true{% else %}false{% endif %}{% else %}false{% endif %}{% endcapture %}
          {% capture is_current_page %}{% if page.url contains node.link %}true{% else %}false{% endif %}{% endcapture %}
          {% if is_blog_index_or_article=="true" or is_current_page=="true" %}
            {% assign active = true %}
          {% else %}
            {% assign active = false %}
          {% endif %}
          <a href="{{ node.link | replace:'/index.html', '/'}}" class="{% if active %}active{% endif %}">{% if node.title == "RSS" %}<svg viewBox="0 0 24 24" width="22" height="22"><title>RSS Feed icon</title><use href="#icon-rss"/></svg>{% else %}{{ node.title }}{% endif %}</a>
        {% endfor %}
      </nav>
    </div>
    <hr>
  </header>
  <main id="top" class="main-content">
    {% if page.url == "/" %}{% include global/bio.html hide_face="true" %}{% endif %}
  {{ content }}
  </main>
  <hr>
  <footer class="main-footer">
    {% if page.url != "/" %}{% include global/bio.html %}{% endif %}
    <div class="webring">
      <a href="https://xn--sr8hvo.ws/previous" aria-label="Previous site in webring"><svg viewBox="0 0 24 24" width="64" height="64"><use href="#icon-move-left"/></svg></a> <a href="https://xn--sr8hvo.ws">🕸💍</a> <a href="https://xn--sr8hvo.ws/next" aria-label="Next site in webring"><svg viewBox="0 0 24 24" width="64" height="64"><use href="#icon-move-right"/></svg></a>
    </div>
    <hr>
    <small>
      &copy; {{site.posts.last.date|date:"%Y"}}&mdash;{{site.time|date:"%Y"}} Max Glenister. Licensed under <a rel="license" href="https://creativecommons.org/licenses/by-nc-sa/4.0/"><abbr title="Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International">CC BY-NC-SA</abbr></a>.
      <br>
      Website last built: <a target="_blank" href="{{site.github.repository_url}}/commit/{{site.github.build_revision}}">{{ site.time | date_to_long_string }}</a>
    </small>
  </footer>
  <script type="application/ld+json">
  {% if page.layout == "post" %}
  {
    "@context": "https://schema.org",
    "@type": "BlogPosting",
    "headline": "{{ page.title | escape }}",
    "datePublished": "{{ page.date | date_to_xmlschema }}",
    "url": "{{ page_url }}",
    "description": "{{ description | escape }}",
    "author": {
      "@type": "Person",
      "name": "{{ site.data.author.name }}",
      "url": "{{ site.data.author.home }}"
    }
  }
  {% else %}
  {
    "@context": "https://schema.org",
    "@type": "Person",
    "name": "{{ site.data.author.name }}",
    "url": "{{ site.url }}",
    "sameAs": [{% for url in site.data.author.urls %}"{{ url.link }}"{% unless forloop.last %},{% endunless %}{% endfor %}]
  }
  {% endif %}
  </script>

  {% include global/svg-icons.html %}
  <script>
    const el = document.querySelector(".main-header")
    const observer = new IntersectionObserver( 
      ([e]) => e.target.classList.toggle("is-pinned", e.intersectionRatio < 1),
      { threshold: [1] }
    );

    observer.observe(el);
  </script>
</body>
</html>
