<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta 
        name="viewport" 
        content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"
    />
    <title>
        {{ page.title }} | {{ site.name }}
    </title>
    <meta 
        name="author" 
        content="Max Glenister" 
    />
    <meta 
        name="description" 
        content="{{ site.description }}" 
    />
    <link 
        rel="alternate" 
        type="application/rss+xml" 
        title="{{ site.name }} - Feed" 
        href="{{ site.url }}/feed.xml" 
    />

    <!--[if lt IE 9]>
        <script src="{{ site.BASE_PATH }}assets/html5shiv.js">
        </script>
    <![endif]-->
    
    <link 
        href="http://fonts.googleapis.com/css?family=Open+Sans|Ubuntu" 
        rel="stylesheet"
    />
    <link 
        rel="stylesheet" 
        href="{{ site.BASE_PATH }}assets/monokai.css" 
    />
    <link 
        rel="stylesheet" 
        href="{{ site.BASE_PATH }}assets/style.css" 
    />
</head>
<body>
    <div class="wrap" id="top">
        <div class="one_third pull-left sidebar">
            <aside class="inner">
                <h1 class="header">
                    <a href="{{ site.BASE_PATH }}">
                        <img src="{{ site.BASE_PATH }}assets/max.jpg" class="photo-me" alt="Blomg"/>
                    </a>
                </h1>
                <nav class="nav-buttons site-nav pull-left">
                    <ul>
                        <li>
                            <a 
                                href="{{ site.BASE_PATH }}"
                                class="navbtn"
                            >
                                Home
                            </a>
                        </li>
                        <li>
                            <a 
                                href="{{ site.BASE_PATH }}archive.html"
                                class="navbtn"
                            >
                                Archive
                            </a>
                        </li>
                        <li class="not-desktop">
                            <a href="#about" class="navbtn about-toggle">?</a>
                        </li>
                    </ul>
                </nav>
                <nav class="nav-buttons posts-nav pull-right">
                    {% if page.url == "/index.html" %}
                        {% for page in site.posts|limit:1 %}
                            {% assign previouspage = page.previous %}
                            {% assign nextpage = page.next %}
                        {% endfor %}
                    {% else %}
                        {% assign previouspage = page.previous %}
                        {% assign nextpage = page.next %}
                    {% endif %}
                    <ul>
                    {% if previouspage or nextpage %}
                        {% if previouspage %}
                            <li>
                                <a 
                                    href="{{ previouspage.url }}" 
                                    title="Previous post: {{ previouspage.title }}"
                                    class="navbtn"
                                >
                                    &lt;
                                </a>
                            </li>
                        {% else %}
                            <li>
                                <span class="navbtn disabled">
                                    &lt;
                                </span>
                            </li>
                        {% endif %}
                        {% if nextpage %}
                            <li>
                                <a 
                                    href="{{ nextpage.url }}" 
                                    title="Next post: {{ nextpage.title }}"
                                    class="navbtn"
                                >
                                    &gt;
                                </a>
                            </li>
                        {% else %}
                            <li>
                                <span class="navbtn disabled">
                                    &gt;
                                </span>
                            </li>
                        {% endif %}
                    {% else %}
                        <li>
                            <span class="navbtn disabled">
                                &lt;
                            </span>
                        </li>
                        <li>
                            <span class="navbtn disabled">
                                &gt;
                            </span>
                        </li>
                    {% endif %}
                </ul>
                </nav>
                <article class="about" id="about">
                    {% for paragraph in site.description %}
                        <p>
                            {{ paragraph }}
                        </p>
                    {% endfor %}
                    <p>
                        {{ site.descriptionmore }}
                    </p>
                    <ul>
                        {% for site in site.sites %}
                            <li>
                                <a href="{{ site.link }}" target="_blank">
                                    {{ site.text }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                    <a class="not-desktop hide-about" href="#top">
                        Hide this
                    </a>
                </article>
            </aside>
        </div>
        <div class="two_third pull-right main">
            <section class="inner">
                {{ content }}
            </section>
        </div>
    </div>

    <script src="{{ site.BASE_PATH}}assets/js/rainbow.min.js"></script>
    <script src="{{ site.BASE_PATH}}assets/js/rainbow.generic.js"></script>
    <script src="{{ site.BASE_PATH}}assets/js/rainbow.shell.js"></script>
    <script src="{{ site.BASE_PATH}}assets/js/rainbow.javascript.js"></script>
    <script src="{{ site.BASE_PATH}}assets/js/rainbow.html.js"></script>
    <script src="{{ site.BASE_PATH}}assets/js/rainbow.css.js"></script>
    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-18982788-1']);
        _gaq.push(['_trackPageview']);

        (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>
</body>
</html>
