<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {% capture page_url %}{% if page.url == '/index.html' %}{{ site.url }}{% else %}{{ page.url | absolute_url }}{% endif %}{% endcapture %}
  {% capture title %}{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}{% endcapture %}
  {% capture description %}{% if page.excerpt %}{{ page.excerpt | strip_html | strip }}{% else %}{{ site.author.bio }}{% endif %}{% endcapture %}
  {% assign twitter_url = site.author.twitter | prepend: 'https://twitter.com/' %}
  {% capture predetermined_font_chars %}{{ site.title }}{% for i in site.menu %}{{ i.title }}{% endfor %}{% endcapture %}
  {% assign predetermined_font_chars = predetermined_font_chars | replace:' ','' | split:'' | uniq | join:'' %}
  
  <title>{{ title }}</title>
  <meta name="description" content="{{ description }}">
  
  <meta property="og:title" content="{{ title }}">
  <meta property="og:description" content="{{ description }}">
  <meta property="og:type" content="article">
  <meta property="og:url" content="{{ page_url }}">
  <meta property="og:image" content="{{ site.author.avatar }}">

  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@{{ site.author.twitter }}">
  <meta name="twitter:title" content="{{ title }}">
  <meta name="twitter:description" content="{{ description }}">
  <meta name="twitter:image" content="{{ site.author.avatar }}">

  <link rel="canonical" href="{{ page_url }}">
  <link rel="webmention" href="https://webmention.io/omgmog.net/webmention" />
  <link rel="pingback" href="https://webmention.io/omgmog.net/xmlrpc" />

  <link rel="icon" type="image/png" href="{{ site.author.avatar }}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap&text={{predetermined_font_chars}}" rel="stylesheet">
  <link rel="stylesheet" href="{{ "/assets/style.css" | absolute_url }}{% if site.github %}?{{site.github.build_revision}}{% endif %}">
  {% feed_meta %}
</head>
<body>
  <header class="main-header">
    <div class="inner">
      <h1><a href="{{ site.author.home }}">{% include global/me.html img="face3d.png" %} Max Glenister</a></h1>
      <nav role="navigation">
        {% for node in site.menu %}
          <a href="{{ node.link }}">{% if node.icon %}{% include icons/icon.svg icon=node.icon title=node.title %}{% else %}{{ node.title }}{% endif %}</a>
        {% endfor %}
      </nav>
    </div>
    <hr>
  </header>
  <main id="top" class="main-content">
  {{ content }}
  </main>
  <hr>
  <footer class="main-footer">
    <div class="p-author h-card post-bio">
      {% include global/me.html img="max2020-1a.png"  %}
      <div class="h-card-inner">
          <p class="p-note"><a class="u-name" href="https://omgmog.net/" rel="me">Max Glenister</a> is a <a href="https://omgmog.net/" rel="me" class="u-url u-uid"><span class="p-job-title">Front-end Developer</span> based in <span class="p-region">Oxfordshire</span></a>. For work he spends his time designing, validating and implementing user interfaces. For fun he tinkers with Virtual Reality, 3D printing, embedded systems, game development and many other things.</p>
          <p>You can keep up with Max on <a href="https://github.com/omgmog" rel="nofollow me" class="u-url">Github</a>, <a href="https://twitter.com/omgmog" rel="nofollow me" class="u-url">Twitter</a> and <a href="https://reddit.com/u/omgmog" rel="nofollow me" class="u-url">Reddit</a></p>
      </div>
    </div>
    <hr>
    <small>
      &copy; 2010&mdash;{{site.time|date:"%Y"}} Max Glenister. Licensed under <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/"><abbr title="Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International">CC BY-NC-SA</abbr></a>.
      <br>
      Website last built: <a target="_blank" href="{{site.github.repository_url}}/commit/{{site.github.build_revision}}">{{ site.time | date_to_long_string }}</a><br>
      {% include global/webring.html %}
    </small>
  </footer>
  <script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Person",
    "name": "{{ site.author.name }}",
    "url": "{{ site.url }}",
    "sameAs": [
      "{{ twitter_url }}",
      "https://github.com/{{ site.author.github }}",
      "{{ site.author.home }}"
    ]
  }
  </script>
  <script>
    // Make Twitter profile links in to Twitter follow intents
    document.querySelectorAll('a[href="{{ twitter_url }}"]').forEach(twitterLink => {
      twitterLink.addEventListener('click', e => {
        e.preventDefault();
        window.location = 'https://twitter.com/intent/follow?screen_name={{ site.author.twitter }}';
        return false;
      })
    });
  </script>
  {% if content contains "github-card" %}
  <script src="//cdn.jsdelivr.net/github-cards/latest/widget.js"></script>
  {% endif %}
  <link href="https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap" rel="stylesheet">
</body>
</html>
