---
layout: layout
description: true
---
{% assign post = page %}

{% include single_post.html %}

<h3>
    About the author
</h3>
{% include _author_blurb.html %}

<p>
    Notice any issues in this post? You can <a href="https://github.com/omgmog/omgmog.github.com/edit/master/{{ post.path }}">fix it on GitHub</a> or <a href="https://github.com/omgmog/omgmog.github.com/issues/new">let me know</a>.
</p>

{% assign previouspage = post.previous %}
{% assign nextpage = post.next %}
{% if previouspage or nextpage %}
    <hr />
    {% if previouspage %}
        <a
            href="{{ previouspage.url }}"
            rel="prev"
            title="Go to {{ previouspage.title }}"
        >
            &#9664; {{ previouspage.title }}
        </a>
        {% if nextpage %}
            <br />
            <br />
        {% endif %}
    {% endif %}
    {% if nextpage %}
        <a
            href="{{ nextpage.url }}"
            rel="next"
            title="Go to {{ nextpage.title }}"
        >
            {{ nextpage.title }} &#9654;
        </a>
    {% endif %}
{% endif %}
<hr />

{% include _adsense.html %}
<hr />

<div id="disqus_thread" class="comments"></div>

<script type="text/javascript">
    var comments = document.getElementsByClassName('comments')[0],
        disqusLoaded=false;

    function loadDisqus() {
        var disqus_shortname = '{{ site.disqus }}';
        var dsq = document.createElement('script');
        dsq.type = 'text/javascript';
        dsq.async = true;
        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        disqusLoaded = true;
    }
    function findTop (obj) {
        var curtop = 0;
        if (obj.offsetParent) {
            do {
                curtop += obj.offsetTop;
            } while (obj = obj.offsetParent);
            return curtop;
        }
    }

    if (window.location.hash.indexOf('#disqus_thread') > 0) {
        loadDisqus();
    }

    if (comments) {
        var commentsOffset = findTop(comments);

        window.onscroll = function () {
            if (!disqusLoaded && window.pageYOffset > commentsOffset - 1000) {
                loadDisqus();
            }
        }
    }
</script>
