---
layout: layout
---
{% assign post = page %}

{% if post.content contains '<code' %}
<link rel="stylesheet" href="{{ "/assets/pygments.css" | absolute_url }}" />
{% endif %}

<article class="post h-entry">
  <header>
    <h2>
      <a href="{{ post.url }}" class="p-name u-url">
        {{ post.title }}
      </a>
    </h2>
    <div class="post-meta">
      <time class="dt-published" datetime="{{post.date | date: "%Y-%m-%d"}}">{{ post.date | date_to_long_string }}</time>
      {% include global/types.html %}
    </div>
  </header>
  <div class="e-content">{{ content }}</div>

  {% if post.collection == 'cardboctober' %}
    {% capture cardboctober_footer %}{% include posts/cardboctober.html %}{% endcapture %}{{ cardboctober_footer | markdownify }}
  {% endif %}
</article>

{% include posts/interactions.html %}