<div class="page-header">
  <h1>{{ page.title }}</h1>
</div>
{% capture post_Y %}{{ page.date | date:"%Y" }}{% endcapture %}
{% capture now_Y %}{{ site.time | date:"%Y" }}{% endcapture %}
{% if post_Y < now_Y %}
<div class="alert-message block-message warning">
  <p><strong>This is an old post!</strong> It might be a good idea to check the <a href="/archive.html">Archives</a> to see if I've posted a revision to this post or subject.</p>
</div>
{% endif %}
<div class="row">
  
  <div class="span4">
  {% capture post_Ym %}{{ page.date | date:"%Y%m" }}{% endcapture %}
  {% capture now_Ym %}{{ site.time | date:"%Y%m" }}{% endcapture %}
    <h4>Published</h4>
    <div class="date"><span>{{ page.date | date_to_long_string }}</span>{% if post_Ym == now_Ym %} <span class="label success">New</span>{% endif %}</div>
    <a href="{{ BASE_PATH }}{{ page.url }}">Permalink</a>
    <div class="pagination">
      <ul>
      {% if page.previous %}
        <li class="prev"><a href="{{ BASE_PATH }}{{ page.previous.url }}" title="{{ page.previous.title }}">&larr; Previous</a></li>
      {% else %}
        <li class="prev disabled"><a>&larr; Previous</a></li>
      {% endif %}
      {% if page.next %}
        <li class="next"><a href="{{ BASE_PATH }}{{ page.next.url }}" title="{{ page.next.title }}">Next &rarr;</a></li>
      {% else %}
        <li class="next disabled"><a>Next &rarr;</a>
      {% endif %}
      </ul>
    </div> 
  </div>
  <div class="span10">
  {% if page.cover %}
    <div class="post_cover">
      <img src="{{ page.cover }}" alt="{{ page.title }}" width="{% if page.cover_width %}{{ page.cover_width }}{% else %}520px{% endif %}"/>
    </div>
  {% endif %}
    <div class="post_content">
    {{ content }}
    </div>
    <hr>
    {% include JB/comments %}
  </div>
</div>
